.case1{
		width:100%;
		height:60px;
		background-color: #f5f5f5;
	}	
	.case1 ul{
		width:302px;
		height:60px;
		/*border:1px solid red;*/
		margin:0 auto;
	}
	.case1 ul li{
		width:150px;
		height:60px;
		line-height: 60px;
		text-align: center;
		display: block;
		float:left;
		
	}
	.case1 ul li a{

		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		
		padding:0px 0px 5px 0px;
	}
	.border{
		
		border-bottom:3px solid red;
	}
	.case2{
		width:1200px;
		height:160px;
		margin:0 auto;
		padding-top:30px; 
		padding-bottom:10px; 
		position: relative;
	}
	.left{
		background-color: #f5f5f5;
		width:120px;
		height:160px;
		float:left;
		display:block;

	}
	.left ul .li1{
		width:119px;
		height:38px;
		line-height: 38px;
		text-align: center;
		border:1px solid #c1c1c1;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color:#000;
	}
	.left ul .li2{
		width:119px;
		height:78px;
		line-height: 78px;
		border:1px solid #c1c1c1;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color:#000;
	}
	.right{
		width:1080px;
		height:160px;
		float:right;
	}
	.rightul1
	{
		width:1079px;
		height:38px;
		border-top:1px solid #c1c1c1;
		border-bottom:1px solid #c1c1c1;
		border-right:1px solid #c1c1c1;
	}
	.rightul2
	{
		width:1079px;
		height:78px;
		border-top:1px solid #c1c1c1;
		border-bottom:1px solid #c1c1c1;
		border-right:1px solid #c1c1c1;
	}
	.rightul3
	{
		width:1079px;
		height:38px;
		border-top:1px solid #c1c1c1;
		border-bottom:1px solid #c1c1c1;
		border-right:1px solid #c1c1c1;
	}
	.rightli1_1{
		display:block;
		height:38px;
		margin:0px 15px 0px 30px;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color:#000;
		float:left;
		line-height: 38px
	}

	.rightli1_2{
		display:block;
		height:38px;
		margin:0px 15px 0px 15px;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color:#000;
		float:left;
		line-height: 38px
	}
	.rightli2_1{
		display:block;
		height:38px;
		margin:0px 15px 0px 30px;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color:#000;
		float:left;
		line-height: 40px
	}
	.rightli2_2{
		display:block;
		height:38px;
		margin:0px 15px 0px 15px;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color:#000;
		float:left;
		line-height: 40px
	}
	.right ul li{
		cursor:pointer;
	}
	.right ul li:hover{
		color:#E12E32;
	}
	.case3{
		width:1200px;
		padding-bottom: 25px;
		margin:0 auto;
	}
	.case3head{
		width:1200px;
		height:60px;
	}
	.case3head span{
		font-weight: normal;
		font-style: normal;
		font-size: 19px;
		line-height: 60px;
	}
	.case3 ul{
		width:1200px;
		display: block;
		overflow: hidden;

	}
	.case3 ul li{
		width:288px;
		height:270px;
		display: block;
		float:left;
		margin-bottom: 15px;
	}
	.caseli2{
		margin-left:15px; 
	}
	.case3 ul li img{
		width:288px;
		height:200px;
		display: block;
	}
	.case3 ul li div{
		width:286px;
		height:69px;
		border-left:1px solid #ccc;
		border-bottom:1px solid #ccc;
		border-right:1px solid #ccc;
	}
	.case3 ul li div title{
		height:35px;
		line-height: 35px;
		display:block;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		margin-left: 12px;
		color:#000;
	}
	.case3 ul li div span{
		height:26px;
		line-height: 26px;
		display:block;
		float:left;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		margin-left: 12px;
		color:#000;
		padding-left:5px;
		padding-right:5px;
		 -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
      user-select:none;
		border:1px solid #ccc;
	}
.page{
	width:1200px;
	text-align: center;
	margin:0 auto;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:cursor,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#color{
	color:#01AF93;
}
/*#color:hover{
	cursor:not-allowed;
}*/
.span{
		width:1200px;
		height:40px;
		line-height: 50px;
		display:block;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		
		color:#333;
}