.play_heads{
		width:1200px;
		height:160px;
		margin:0 auto;
	}
	.zaiplay1head{
		width:1180px;
		height:50px;
		border-bottom:1px solid #eee;

	}
	.zaiplay1head span{
		font-size: 16px;
		font-style: normal;
		font-weight: normal;
		color:#5B5B5B;
		display: block;
		padding-top: 22px;
	}
	.zaiplay1head span a:hover{
		color:#E12E32;
	}
	.play_heads title{
		font-style: normal;
		font-weight: normal;
		font-size: normal;
		font-size: 23px;
		display:block;
		padding-top: 20px;
	}
	.play_heads ul{
		width:500px;
		height:38px;
		margin-top:15px;
	}
	.play_heads li{
		border:1px solid #E5E5E5;
		display:block;
		float:left;
		margin-right: 12px;

	}
	.play_heads li a{
		font-style: normal;
		font-weight: normal;
		font-size: normal;
		font-size: 18px;
		padding:6px 10px 6px 10px;
		color:#333;

	}
	.play_heads li:hover{
		background-color: #50AF63;
		color:#fff;
	}
	.play_heads li a:hover{
		color:#fff;
	}
	.play_con1{
		width:1200px;
		height:540px;
		margin:0 auto;
	}
	.con1_left{
		width:850px;
		float:left;
	}
	.con1_right{
		width:350px;
		height:500px;
		float:left;
	}
	.con1_right_con1{
		width:300px;
		height:250px;
		margin-left: 25px;
		border-top:2px solid #FC730D;
		border-right: 1px solid #DFDFDF;
		border-left: 1px solid #DFDFDF;
		border-bottom: 1px solid #DFDFDF;
	}
	.con1_right_con1 title{
		font-weight: normal;
		font-style: normal;
		font-size: 20px;
		display:block;
		color:#000;
		padding:8px 0px 20px 57px;
	}
	.con1_right_con1 label{
		width:200px;
		height:60px;
		margin:0 auto;
		display:block;
	} 
	.con1_right_con1 label input{
		width:200px;
		height:35px;
		text-indent: 5px;
		border:1px solid #dfdfdf;
		font-size: 16px;
	}
	.con1_right_con1 label span{
		font-weight: normal;
		font-style: normal;
		font-size: 14px;
		padding-top: 1px;
		display:none;
		color:#FA4B4B;
	}
	.con1_right_con1 button{
		width:200px;
		height:45px;
		margin: 0 auto;
		display: block;
		border-radius:5px;
		line-height: 45px;
		text-align: center;
		background-color: #FA4B4B;
		border:none;
		color:#fff;
		font-weight: normal;
		margin-top: 5px;
		letter-spacing: 1px;
		font-size: 16px;
		cursor:pointer;
	}
	.con1_right_con1 button:active{
		background-color: #FA1B1B
	}
.con1_right_con1 label input::-webkit-input-placeholder,.label3 input::-webkit-input-placeholder {
    font-style:normal;
    letter-spacing:1px;
    font-size: 15px;
    color:#797979;
}
.con1_right_con1 label input::-moz-placeholder,.label3 input::-moz-placeholder {
    font-style:normal;
    letter-spacing:1px;
    font-size: 15px;
    color:#797979;
}
.con1_right_con1 label input:-ms-input-placeholder,.label3 input:-ms-input-placeholder { /* Internet Explorer 10+ */
　　font-style:normal;
    letter-spacing:1px;
    font-size: 15px;
    color:#797979;
}

	.con1_right_con2{
		width:300px;
		height:200px;
		margin-left: 25px;
		margin-top: 25px;
		border:1px solid #DFDFDF;
	}
	.label1{
		width:200px;
		height:60px;
		display: block;
		margin:0 auto;
		padding-top:20px;
	}
	.label2{
		width:200px;
		height:60px;
		display: block;
		margin:0 auto;
		padding-top:25px;
	}
	.label1 em{
		width:33px;
		height:33px;
		float:left;
		display: block;
		background: url('/home/images/caseplay/2.png') no-repeat 100% 100%;
	}
	.label2 em{
		width:33px;
		height:33px;
		float:left;
		background: url('/home/images/caseplay/1.png') no-repeat 100% 100%;
		display: block;
	}
	.con1_right_con2 label title{
		font-style: normal;
		float:left;
		font-weight: normal;
		font-size: 19px;
		display:block;
		width:200px;
		height:30px;
		color:#333;
	}
	.con1_right_con2 label span{
		font-style: normal;
		float:left;
		font-weight: normal;
		font-size: 23px;
		display:block;
		color:red;
		padding-top: 3px;
		padding-left: 8px;
	}
.win{
	
	width:850px;height:530px;position:relative;
	overflow: hidden;
}
.box{
	width:100%;height:480px;position: relative;
}
.box div{
	width:100%;height: 480px;position: absolute;left:-100%;font-size: 70px;text-align: center;line-height: 300px;top:0;color:#fff;
}
.box div img{
	width:100%;
	height:100%;
}
.rightB{
		-moz-user-select:none;/*火狐*/
    	-webkit-user-select:none;/*webkit浏览器*/
    	-ms-user-select:none;/*IE10*/
    	-khtml-user-select:none;/*早期浏览器*/
      	user-select:none;
	width:40px;height:40px;font-size: 30px;color:#fff;background: rgba(0,0,0,0.5);position: absolute;right:0;top:45%;line-height:40px;text-align: center;cursor: pointer;display: block;font-family: "宋体";
}
.leftB{
		-moz-user-select:none;/*火狐*/
    	-webkit-user-select:none;/*webkit浏览器*/
    	-ms-user-select:none;/*IE10*/
    	-khtml-user-select:none;/*早期浏览器*/
      	user-select:none;
	width:40px;height:40px;font-size: 30px;color:#fff;background: rgba(0,0,0,0.5);position: absolute;left:0;top:45%;line-height:40px;text-align: center;cursor: pointer;display: block;font-family: "宋体";
}
	.con1_leftul{
		width:200px;
		height:30px;
		margin:0 auto;
		padding-top: 12px;
	}
	.con1_leftul li{
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color:#000;
	}
	.caseplaycon2{
		width:1200px;
		margin:0 auto;
		position: relative;
	}
	.caseplaycon2_head{
		width:1150px;
		height:50px;
		display:block;
		background-color: #FAFAFA;
	}
	.caseplaycon2_head span{
		font-weight: normal;
		font-style: normal;
		font-size: 22px;
		color:#333;
		line-height: 50px;
	}

	.caseplaycon2_con{
		width:1200px;
		margin:0 auto;
		margin-top: 15px;
		position: relative;
		padding-bottom: 50px;
	}
	
	.caseplaycon2_con_div{
		width:1165px;
		margin-left: 35px;
		position: relative;
		padding:20px 0px 20px 0px;
		border-left:1px solid #ccc;
	}
	.caseplaycon2_con ul{
		width:1130px;
		float:right;
	}
	.caseplaycon2_con ul li{
		width:340px;
		height:240px;
		overflow:hidden;
		float:left;
		padding-left: 20px;
		padding-top: 20px;
	}
	.caseplaycon2_con_div em{
		width:70px;
		height:70px;

		background-color: #63C99D;
		position: absolute;
		
		border-radius: 9999px;
		top:15px;
		left:-35px;
	}
	.caseplaycon2_con_div em span{
		font-weight: normal;
		font-style: normal;
		font-size: 15px;
		color:#fff;
		width:30px;
		margin: 0 auto;
		display: block;
		margin-top: 14px;
	}
	.caseplaycon2_con ul li img{
		width:100%;
		height:100%;
	}