/*头*/
#hade-a{
			width:100%;
			height:36px;
			background-color: #f5f5f5;
		}
		#hade-b{
			width:1200px;
			height:36px;
			margin:0 auto;
		}
		#login{
			width:400px;
			height:36px;
			float:right;

		}
		#login ul{
			width:400px;
			height:36px;
			overflow: hidden;
		}
		#login ul li a{
			color:#a6a6a6;

		}
		#loginli1{
			font-size: 16px;
			float:right;
			line-height: 36px;
			font-weight: normal;
			color:#a6a6a6;
			font-family: 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
			/*cursor:pointer;*/
		}
		#loginli2{
			width:10px;
			height:17px;
			float:right;
			margin-right: 10px;
			margin-top: 10px;
			border-right:1px solid #ccc;
		}
		#hade-con{
			width:100%;
		}
		#con1{
			width:1200px;
			height:100px;
			margin:10px auto;
		}
		#con1img1{
			width:170px;
			height:57px;
			float:left;
			margin-top: 20px;
		}
		#con1 ul{
			float:left;
			width:500px;
			height:40px;
			margin-top:30px;
		}
		#con1 ul li {
			float:left;
		}
		#con1li1,#con1li3{
			width:17px;
			height:17px;
			float:left;
			margin-top:16px;
			margin-left:20px;
		}
		#con1li2,#con1li4{
			font-weight: normal;
			font-size: 16px;
			color:#E12E32;
			margin-top: 13px;
			margin-left: 10px;
		}
		#con1li5{
			width:20px;
			height:30px;
			margin-right: 10px;
			float:left;
			margin-top: 10px;
			border-right:1px solid #ccc;
		}
		#con1li6{
			font-weight: normal;
			font-size: 16px;
			color:#787878;
			font-family:"微软雅黑","黑体","宋体";
			margin-top: 13px;
			margin-left: 10px;
		}


/*购物车*/
		.shopping1{
			width:1200px;
			height:100%;
			margin:0 auto;
			margin-bottom:40px; 
			margin-top: 20px;
			background-color: #f5f5f5;
		}
		.shopping_1_2{
			width:1200px;
			height:220px;
			text-align: center;
		}
		.shopping_1_2 span{
			font-size: 18px;
			color:#555;
			line-height: 220px;
		}


		.shopping1_hader{
			width:1200px;
			overflow: hidden;
			list-style: none;
			height:70px;
			display: block;
			border-bottom: 1px solid #ccc;
		}
		.shopping1_hader li{
			float:left;
			list-style: none;

		}
		.shopping1_hader_li1{
			display:block;
			width:120px;
			height:70px;
		}
		.shopping1_hader_li1 span{
			line-height: 72px;
			font-size: 16px;
			color:#555;
			float:left;
			margin-left: 16px;
		}
		/*******STYLE 1*******/
.chk_1 {
	display:none;
}
.chk_1 + label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	width:21px;
	height:21px;float:left;
	margin-top: 24px;
	margin-left: 29px;
			cursor:pointer;
	display: inline-block;
	position: relative;
	/*margin-right: 30px;*/
}
.chk_1 + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.chk_1:checked + label {
	/*background-color: #ECF2F7;*/
	background-color: #DB2F2F;
	border: 1px solid #DB2F2F;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #fff;
}

.chk_1:checked + label:after {
	content: '\2714';
	position: absolute;
	top: 0px;
	left: 0px;
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	line-height: 21px;
	vertical-align: text-top;
}
		
		.shopping1_hader_li2,.shopping1_hader_li3,.shopping1_hader_li4,.shopping1_hader_li5,.shopping1_hader_li6{
			width:80px;
			height:70px;
			text-align: center;
			line-height:74px;
			font-size: 16px;
			color:#555;
		}
		.shopping1_hader_li2{
			margin-left: 97px;
		}
		.shopping1_hader_li3{
			margin-left: 269px;
		}
		.shopping1_hader_li4{
			margin-left:135px;
		}
		.shopping1_hader_li5{
			margin-left:135px;
		}
		.shopping1_hader_li6{
			margin-left: 40px;
		}

		.shopping1_con{
			width:1200px;
			overflow: hidden;
			list-style: none;
		}
		.shopping1_con_li{
			width:1200px;
			margin-top:10px;
			height:150px;
		}
		.shopping1_con_li input + label{
			margin-top: 48px;
			cursor:pointer;
			margin-left: 30px;
			float:left;
		}

		.shopping1_con_lidiv{
			width:250px;
			height:150px;
			float:left;
			display: block;
			margin-left: 171px;
		}
		.shopping1_con_lidiv span{
			width:250px;
			height:60px;
			display:block;
			line-height: 68px;
			font-size: 18px;
			color:#555;
		}
		.shopping1_con_lidiv ul{
			width:260px;
			height:80px;
			padding-top: 8px;
			overflow: hidden;
			list-style:none;
			border-top:1px solid #ccc;
		}
		.shopping1_con_lidiv ul li{
			float:left;
			font-size:15px;
			color:#555;
			padding:4px 7px 4px 0px;
		}
		.shopping1_con_lispan{
			width:120px;
			height:150px;
			line-height: 120px;
			float:left;
			text-align: center;
			display:block;
			margin-left:75px;
			font-size: 19px;
			color:#555;
		}
		
		.shopping1_con_linum{
			width:150px;
			height:36px;
			float:left;
			display: block;
			margin-left: 77px;
			border:1px solid #ccc;
			margin-top: 40px;
			font-size: 18px;
			color:#333;
		}
		.num1,.num2{
			width:36px;
			border:none;
			list-style: none;
			background-color: #fff;
			cursor:pointer;
			height:36px;
		}
		.num1{
			float:left;
		}
		.shopping1_con_linum span{
			width:78px;
			text-align: center;
			background-color: #fff;
			height:36px;
			float:left;
			display:block;
			line-height:36px;
		}
		.num2{
			float:right;
		}
		.shopping1_con_litotai{
			height:150px;
			width:127px;
			line-height: 120px;
			float:left;
			display:block;
			text-align: center;
			font-size: 19px;
			color:#E12E32;
			right:0px;
			margin-left: 78px;
		}

		.shopping_tail{
			width:1200px;
			overflow: hidden;
			list-style: none;
			height:50px;
			margin-top:20px;
			background-color: #f5f5f5;
			border-top:2px solid #FEFEFE;
		}
		.shopping_tail .shopping_tailli1 em{
			color:#DB2F2F;
			padding:0 4px 0 4px;
		}
		.shopping_tailli1{
			width:200px;
			height:50px;
			line-height: 50px;
			font-size: 15px;
			color:#555;
			padding-left: 20px;
			float:left;
		}
		.shopping_tailli2{
			float:right;
			line-height: 50px;
			font-size: 16px;
			color:#E12E32;
			margin-right: 50px;
		}
		.shopping_tailli2 em{
			font-size: 28px;
			padding:0 4px 0 1px;
		}
		.shopping_tailli3{
			float:right;
		}

		.shopping_tailli3 button{
			width:190px;
			height:50px;
			border:none;
			list-style:none;
			background-color: #E12E32;
			font-size: 17px;
			color:#fff;
			cursor:pointer;
		}

		.shopping1_con_libutton{
			width:30px;
			height:30px;
			border:none;
			list-style:none;
			font-size: 30px;
			background-color: #f5f5f5;
			margin-left: 38px;
			margin-top: 41px;
			color:#555;
			cursor:pointer;
		}

/*支付页*/
		.payment_hader{
			width:1150px;
			margin:0 auto;
			margin-top: 20px;
			height:230px;
		}
		.payment_hader title{
			width:1200px;
			height:30px;
			font-size: 16px;
			display: block;
			line-height: 30px;
			color:#444;
		}

		.payment_hader ul{
			width:1150px;
			height:120px;
			overflow: hidden;
			list-style: none;
			margin-top: 10px;
		}

		.payment_hader ul li{
			width:263px;
			height:120px;
			float:left;
			background:url(/home/images/payment/payment/nodefault.png) no-repeat;
			display:block;
			list-style: none;

			margin-right:20px;
		}
		.payment_hader_new{
			border:none;
			font-size: 15px;
			color:#444;
			list-style: none;
			margin-top: 20px;
			padding:4px 8px ;
		}

		.payment_hader ul li div{
			width:263px;

			height:120px;
			display: block;

		}
		.payment_hader_defult{
			background:url(/home/images/payment/payment/default.png) no-repeat;
		}
		.payment_hader_nodefult{
			background:url(/home/images/payment/payment/nodefault.png) no-repeat;
		}
		.payment_hader ul li div title{
			width:220px;
			height:40px;
			display:block;
			margin:0 auto;
			font-size: 15px;
			color:#555;
			line-height: 50px;
			border-bottom: 1px solid #ccc;
		}
		.payment_hader ul li div span{
			width:220px;
			height:45px;
			display:block;
			margin:0 auto;
			font-size: 15px;
			padding-top: 5px;
			/*overflow:hidden;*/
			color:#555;
		}
		.payment_hader ul li div button{
			list-style: none;
			border:none;
			float:left;
			font-size: 14px;
			color:#D5A68A;
			background-color:#fff;
			padding:0;
			margin-left: 10px;
			float:left;
		}
		#payment_hader_butl{
			margin-left: 21px;
		}
		
