/*头*/
#hade-a{
			width:100%;
			height:36px;
			background-color: #f5f5f5;
		}
		#hade-b{
			width:1200px;
			height:36px;
			margin:0 auto;
		}
		#login{
			width:400px;
			height:36px;
			float:right;

		}
		#login ul{
			width:400px;
			height:36px;
			overflow: hidden;
		}
		#login ul li a{
			color:#a6a6a6;

		}
		#loginli1{
			font-size: 16px;
			float:right;
			line-height: 36px;
			font-weight: normal;
			color:#a6a6a6;
			font-family: 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
			/*cursor:pointer;*/
		}
		#loginli2{
			width:10px;
			height:17px;
			float:right;
			margin-right: 10px;
			margin-top: 10px;
			border-right:1px solid #ccc;
		}
		#hade-con{
			width:100%;
		}
		#con1{
			width:1200px;
			height:100px;
			margin:10px auto;
		}
		#con1img1{
			width:170px;
			height:57px;
			float:left;
			margin-top: 20px;
		}
		#con1 ul{
			float:left;
			width:500px;
			height:40px;
			margin-top:30px;
		}
		#con1 ul li {
			float:left;
		}
		#con1li1,#con1li3{
			width:17px;
			height:17px;
			float:left;
			margin-top:16px;
			margin-left:20px;
		}
		#con1li2,#con1li4{
			font-weight: normal;
			font-size: 16px;
			color:#E12E32;
			margin-top: 13px;
			margin-left: 10px;
		}
		#con1li5{
			width:20px;
			height:30px;
			margin-right: 10px;
			float:left;
			margin-top: 10px;
			border-right:1px solid #ccc;
		}
		#con1li6{
			font-weight: normal;
			font-size: 16px;
			color:#787878;
			font-family:"微软雅黑","黑体","宋体";
			margin-top: 13px;
			margin-left: 10px;
		}


/*购物车*/
		.shopping1{
			width:1200px;
			height:100%;
			margin:0 auto;
			margin-bottom:40px; 
			margin-top: 20px;
			background-color: #f5f5f5;
		}
		.shopping_1_2{
			width:1200px;
			height:220px;
			text-align: center;
		}
		.shopping_1_2 span{
			font-size: 18px;
			color:#555;
			line-height: 220px;
		}


		.shopping1_hader{
			width:1200px;
			overflow: hidden;
			list-style: none;
			height:70px;
			display: block;
			border-bottom: 1px solid #ccc;
		}
		.shopping1_hader li{
			float:left;
			list-style: none;

		}
		.shopping1_hader_li1{
			display:block;
			width:120px;
			height:70px;
		}
		.shopping1_hader_li1 span{
			line-height: 72px;
			font-size: 16px;
			color:#555;
			float:left;
			margin-left: 16px;
		}
		/*******STYLE 1*******/
.chk_1 {
	display:none;
}
.chk_1 + label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	width:21px;
	height:21px;float:left;
	margin-top: 24px;
	margin-left: 29px;
			cursor:pointer;
	display: inline-block;
	position: relative;
	/*margin-right: 30px;*/
}
.chk_1 + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.chk_1:checked + label {
	/*background-color: #ECF2F7;*/
	background-color: #DB2F2F;
	border: 1px solid #DB2F2F;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #fff;
}

.chk_1:checked + label:after {
	content: '\2714';
	position: absolute;
	top: 0px;
	left: 0px;
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	line-height: 21px;
	vertical-align: text-top;
}
		
		.shopping1_hader_li2,.shopping1_hader_li3,.shopping1_hader_li4,.shopping1_hader_li5,.shopping1_hader_li6{
			width:80px;
			height:70px;
			text-align: center;
			line-height:74px;
			font-size: 16px;
			color:#555;
		}
		.shopping1_hader_li2{
			margin-left: 97px;
		}
		.shopping1_hader_li3{
			margin-left: 269px;
		}
		.shopping1_hader_li4{
			margin-left:135px;
		}
		.shopping1_hader_li5{
			margin-left:135px;
		}
		.shopping1_hader_li6{
			margin-left: 40px;
		}

		.shopping1_con{
			width:1200px;
			overflow: hidden;
			list-style: none;
		}
		.shopping1_con_li{
			width:1200px;
			margin-top:10px;
			height:150px;
		}
		.shopping1_con_li input + label{
			margin-top: 48px;
			cursor:pointer;
			margin-left: 30px;
			float:left;
		}

		.shopping1_con_lidiv{
			width:250px;
			height:150px;
			float:left;
			display: block;
			margin-left: 171px;
		}
		.shopping1_con_lidiv span{
			width:250px;
			height:60px;
			display:block;
			line-height: 68px;
			font-size: 18px;
			color:#555;
		}
		.shopping1_con_lidiv ul{
			width:260px;
			height:80px;
			padding-top: 8px;
			overflow: hidden;
			list-style:none;
			border-top:1px solid #ccc;
		}
		.shopping1_con_lidiv ul li{
			float:left;
			font-size:15px;
			color:#555;
			padding:4px 7px 4px 0px;
		}
		.shopping1_con_lispan{
			width:120px;
			height:150px;
			line-height: 120px;
			float:left;
			text-align: center;
			display:block;
			margin-left:75px;
			font-size: 19px;
			color:#555;
		}
		
		.shopping1_con_linum{
			width:150px;
			height:36px;
			float:left;
			display: block;
			margin-left: 77px;
			border:1px solid #ccc;
			margin-top: 40px;
			font-size: 18px;
			color:#333;
		}
		.num1,.num2{
			width:36px;
			border:none;
			list-style: none;
			background-color: #fff;
			cursor:pointer;
			height:36px;
		}
		.num1{
			float:left;
		}
		.shopping1_con_linum span{
			width:78px;
			text-align: center;
			background-color: #fff;
			height:36px;
			float:left;
			display:block;
			line-height:36px;
		}
		.num2{
			float:right;
		}
		.shopping1_con_litotai{
			height:150px;
			width:127px;
			line-height: 120px;
			float:left;
			display:block;
			text-align: center;
			font-size: 19px;
			color:#E12E32;
			right:0px;
			margin-left: 78px;
		}

		.shopping_tail{
			width:1200px;
			overflow: hidden;
			list-style: none;
			height:50px;
			margin-top:20px;
			background-color: #f5f5f5;
			border-top:2px solid #FEFEFE;
		}
		.shopping_tail .shopping_tailli1 em{
			color:#DB2F2F;
			padding:0 4px 0 4px;
		}
		.shopping_tailli1{
			width:200px;
			height:50px;
			line-height: 50px;
			font-size: 15px;
			color:#555;
			padding-left: 20px;
			float:left;
		}
		.shopping_tailli2{
			float:right;
			line-height: 50px;
			font-size: 16px;
			color:#E12E32;
			margin-right: 50px;
		}
		.shopping_tailli2 em{
			font-size: 28px;
			padding:0 4px 0 1px;
		}
		.shopping_tailli3{
			float:right;
		}

		.shopping_tailli3 button{
			width:190px;
			height:50px;
			border:none;
			list-style:none;
			background-color: #E12E32;
			font-size: 17px;
			color:#fff;
			cursor:pointer;
		}

		.shopping1_con_libutton{
			width:30px;
			height:30px;
			border:none;
			list-style:none;
			font-size: 30px;
			background-color: #f5f5f5;
			margin-left: 38px;
			margin-top: 41px;
			color:#555;
			cursor:pointer;
		}

/*支付页*/
		.payment_hader{
			width:1150px;
			margin:0 auto;
			margin-top: 20px;
			height:230px;
		}
		.payment_hader title{
			width:1200px;
			height:30px;
			font-size: 16px;
			display: block;
			line-height: 30px;
			color:#444;
		}

		.payment_hader ul{
			width:1150px;
			height:120px;
			overflow: hidden;
			list-style: none;
			margin-top: 10px;
		}

		.payment_hader ul li{
			width:263px;
			height:120px;
			float:left;
			background:url(/home/images/payment/payment/nodefault.png) no-repeat;
			display:block;
			list-style: none;

			margin-right:20px;
		}
		.btn1{
			border:none;
			font-size: 15px;
			color:#444;
			list-style: none;
			margin-top: 20px;
			padding:4px 8px ;
		}

		.payment_hader ul li div{
			width:263px;

			height:120px;
			display: block;

		}
		.payment_hader_defult{
			background:url(/home/images/payment/payment/default.png) no-repeat;
		}
		.payment_hader_nodefult{
			background:url(/home/images/payment/payment/nodefault.png) no-repeat;
		}
		.payment_hader ul li div title{
			width:220px;
			height:40px;
			display:block;
			margin:0 auto;
			font-size: 15px;
			color:#555;
			overflow: hidden;
			line-height: 50px;
			border-bottom: 1px solid #ccc;
		}
		.payment_hader ul li div span{
			width:220px;
			height:45px;
			display:block;
			margin:0 auto;
			font-size: 15px;
			padding-top: 5px;
			/*overflow:hidden;*/
			color:#555;
		}
		.payment_hader ul li div button{
			list-style: none;
			border:none;
			float:left;
			font-size: 14px;
			color:#D5A68A;
			background-color:#fff;
			padding:0;
			margin-left: 10px;
			float:left;
			cursor:pointer;
		}
		

/*//模态*/
	.m-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 1000;
	overflow: auto;
	background-color: rgba(0, 0, 0, .2);
}

.m-modal-dialog {
	/*font-family: "microsoft yahei", "宋体";*/
	position: relative;
	margin: 0 auto; 
	margin-top: -100%;
	width: 620px;
	height:430px;
	background-color: #ffffff;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.m-top {
	background-color:#f5f5f5;
	border-bottom: 1px solid #EEEEEE;
}

.m-modal-title {
	margin: 0;
	color: #555;
	font-size: 22px;
	padding: 15px 20px 12px 25px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.m-modal-close {
	position: absolute;
	right: 0px;
	top: 0px;
	padding-top: 22px;
	padding-right: 15px;
	display: inline-block;
	font-size: 35px;
	line-height: 20px;
	color: #555;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.m-modal-close:hover {
	color: #FF0033;
}

.m-middle {
	height:315px;
	display:block
}

.m-bottom {
	border-top: 1px solid #EEEEEE;
	height: 50px;
	overflow: hidden;
}

.m-bottom button {
	font-family: "microsoft yahei", "宋体";
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	padding: 5px 20px;
	float: right;
	margin: 0 0 0 10px;
	outline: none;
	font-size: 14px;
	color: #333;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.m-bottom button:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.m-bottom button:active {
	color: #333;
	background-color: #d4d4d4;
	border-color: #8c8c8c;
}

.m-bottom .m-btn-cancel {
	float:left;
	margin-left: 230px;
	margin-top: 13px;
}

.m-bottom .m-btn-sure {
	color: #fff;
	margin-right: 230px;
	margin-top: 13px;
	float:right;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.m-bottom .m-btn-edit {
	color: #fff;
	margin-right: 230px;
	margin-top: 13px;
	float:right;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.m-bottom .m-btn-sure:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

.m-bottom .m-btn-sure:active {
	color: #fff;
	background-color: #204d74;
	border-color: #122b40;
}
/***************/

	.paymentfrom1_1{
		width:545px;
		height:82px;
		display: block;
		margin:0 auto;
	}
	.paymentfrom1_1 input {
		border:none;
		list-style: none;
		background:none; outline:none;  
	}

::-webkit-input-placeholder { color:#666;font-size:16px; }
::-moz-placeholder { color:#666; font-size:16px;} /* firefox 19+ */
:-ms-input-placeholder { color:#666; font-size:16px;} /* ie */
input:-moz-placeholder { color:#666; font-size:16px;}

	.m-middle label input{
		border:1px solid #EDEDED;
		text-indent: 10px;
		font-size: 15px;
		color:#444;
	}
	input.payment_input_name{
		width:261px;
		height:38px;	
		margin-top: 30px;
		float:left;
	}
	input.payment_input_phone{
		width:261px;
		height:38px;	
		margin-top: 30px;
		float:right;
	}
	input.payment_input_zipcode{
		width:261px;
		height:38px;
		margin-top: 30px;
		float:left;
	}
	input.payment_input_lebel{
		width:261px;
		height:38px;
		margin-top: 30px;
		float:right;
	}
	/*下拉*/

.select{position:relative;float:left;}
.select dt{
	height:38px;
	display:inline-block;
	line-height:38px;
	font-weight:normal;
	font-style: normal;
	padding-right:15px; 
	font-size: 15px;
	border:1px solid #ededed;
	color:#333;
	text-indent: 10px;
	cursor:pointer;
  	background: url("/home/images/payment/payment/xiala.png") no-repeat scroll right center transparent;
	border:1px solid #ededed;
	margin-right:15px;
	width:115px;
	white-space:nowrap;
	/*background: url(/home/images/houseroom/55.jpg);*/
	/*border-radius: 5px 5px 0px 0px;*/
	text-overflow:ellipsis;
	overflow:hidden;position:
	relative;z-index:99;}
.select dd{position:absolute;left:0;top:38px;width:115px;background:#fff;display:none;background-color:#fff; border-radius:0px 0px 5px 5px;}
.select dd ul{width:130px;max-height:200px;overflow:auto;border:1px solid #ededed;}
.select dd ul li a{height:30px;line-height:30px;display:block;text-indent: 10px;overflow: hidden;	font-weight:normal;
	font-style: normal;
	font-size: 15px;}
.select dd ul li a:hover{background:#f9f999;}


	.paymentdetailsdiv{
	width:545px;
	height:45px;
	border:1px solid #ededed;

	}
	.paymentdetailsdiv > .paymentdetails{
		width:545px;
		margin-top: 7px;
		text-align: left;
		text-indent: 8px;
		resize:none;
		height:30px;
		line-height: 30px;
		font-size: 15px;
		border:none;
		color:#444;
		overflow: hidden;
	}



	.payment_con{
			width:100%;
			height:100%;
			padding-bottom: 30px;
		}
	.payment_con_con{
		width:1200px;
		height:100%;
		margin:0 auto;
	}
	.payment_con_hader{
		width:1200px;
		height:70px;
	}
	.payment_con_hader title{
		font-size: 16px;
		color:#444;
		display:block;
		padding:5px 100px 5px 25px;

	}
	.payment_con_hader ul{
		width:1152px;
		height:37px;
		margin: 0 auto;
	}
	.payment_con_hader ul li{
		float:left;
		display:block;
		font-size: 16px;
		height:34px;
		text-align:center;
		color:#444;
		line-height: 40px;
		border-bottom:3px solid #B4D0FF;
	}
	
	
	.payment_con_hader_li1{
		width:260px;
		margin-right: 10px;
	}
	.payment_con_hader_li2{
		width:196px;
		margin-right: 10px;
	}
	.payment_con_hader_li3{
		width:153px;
		margin-right: 10px;
	}
	.payment_con_hader_li4{
		width:153px;
		margin-right: 10px;
	}
	.payment_con_hader_li5{
		width:350px;

	}
	.payment_concon{
		width:1152px;
		margin:0 auto;
	}
	.payment_content{
		width:1152px;
		margin:0 auto;
	}
	.payment_content_hader{
		width:1152px;
		border-bottom:1px solid #B4D0FF;
		height:50px;
		margin-top: 20px;
		overflow: hidden;
	}
	.payment_content_hader  li{
		float:left;
		display:block;
		font-size: 16px;
		height:50px;
		text-align:center;
		color:#444;
		line-height: 55px;
	}
	.payment_content_sub{
		width:1152px;
		overflow: hidden;
	}
	.payment_content_sub li{
		float:left;
		display:block;
		height:60px;
		text-align:center;
		line-height: 60px;
	}
	.payment_content_sub1{
		width:260px;
		font-size: 16px;
		color:#555;
		margin-right: 10px;
	}
	.payment_content_sub2{
		width:196px;font-size: 16px;
		color:#555;
		margin-right: 10px;
	}
	.payment_content_sub3{
		width:153px;
		font-size: 16px;
		color:#555;
		margin-right: 10px;
	}
	.payment_content_sub4{
		width:153px;
		font-size: 16px;
		color:#555;
		margin-right: 10px;
	}
	.payment_content_sub5{
		width:350px;
		font-size: 19px;
		color:#E42D2F;
	}

	.payment_buttom{
		margin:0 auto;
		width:1152px;
		height:130px;
		margin-top: 20px;
		border-bottom:2px solid #B4D0FF;
	}
	.payment_buttom_ul{
		width:1152px;
		height:84px;
		overflow:hidden;
	}
	.payment_buttom_li1,.payment_buttom_li3{
		width:444px;
		height:39px;
		margin-bottom: 3px;
		background-color: #F2F6FF;
		float:left;
	}
	.payment_buttom_li4,.payment_buttom_li2{
		width:704px;
		margin-bottom: 3px;
		height:39px;
		background-color: #F2F6FF;
		float:right;
	}
	.payment_buttom_div{
		background-color: #F2F6FF;
		width:1152px;
		height:46px;
		overflow: hidden;
	}
	.payment_buttom_li1 span{
		font-size: 15px;
		color:#555;
		float:left;
		line-height: 39px;
	}

.mycheck {  
    width: 15px;  
    height:14px;
    position: relative; 
    float:left;
}  
.mycheck input[type=checkbox] {  
    visibility: hidden;  
}  
.mycheck label {  
    cursor: pointer;  
    position: absolute;  
    width: 15px;  
    height: 14px;  
    top: 0;  
    left: 0;  
    background: #fff;  
    border:2px solid #ccc;  
    -moz-border-radius: 3px;      /* Gecko browsers */  
    -webkit-border-radius: 3px;   /* Webkit browsers */  
    border-radius:3px;            /* W3C syntax */  
}  
.mycheck label:after {  
    opacity: 0;  
    content: '';  
    position: absolute;  
    width: 8px;  
    height: 4px;  
    background: transparent;  
    top: 3px;  
    left: 3px;  
    border: 2px solid #333;  
    border-top: none;  
    border-right: none;  
    -webkit-transform: rotate(-45deg);  
    -moz-transform: rotate(-45deg);  
    -o-transform: rotate(-45deg);  
    -ms-transform: rotate(-45deg);  
    transform: rotate(-45deg);  
}  
.mycheck label:hover::after {  
 opacity: 0.5;  
}  
.mycheck input[type=checkbox]:checked + label:after {  
    opacity: 1;  
}  

	.payment_buttom_li3 span{
		line-height: 39px;
		font-size: 15px;
		color:#666;
		float:left;
		margin-left: 15px;
	}
	.payment_buttom_li3 input{
		border:none;
		display:block;
		width:320px;
		float:left;
		height:24px;
		margin-top: 7px;
		margin-left: 5px;
		font-size: 15px;
		color:#666;
		text-indent: 8px;
		border:1px solid #D7D9D8;
	};

::-webkit-.payment_buttom_li3ipt-placeholder { color:#666;font-size:15px; }
.payment_buttom_li3ipt::-moz-placeholder { color:#666; font-size:15px;} /* firefox 19+ */
:-ms-.payment_buttom_li3ipt-placeholder { color:#666; font-size:15px;} /* ie */
.payment_buttom_li3ipt:-moz-placeholder { color:#666; font-size:15px;}
	.payment_buttom_li2 span{
		line-height: 39px;
		font-size: 15px;
		color:#666;
		float:left;
		margin-left: 15px;
	}
	.payment_buttom_li2 div{
		width:350px;
		float:right;
		text-align: center;
		line-height: 39px;
		font-size:19px;
		color:#E12F2F;

	}
	.payment_buttom_li4 span{
		line-height: 39px;
		font-size: 15px;
		color:#666;
		float:left;
		margin-left: 15px;
	}
	.payment_buttom_li4 em{
		width:47px;
		height:20px;
		background-color: #2EA468;
		color:#fff;
		display:block;
		text-align: center;
		line-height: 20px;
		float:left;
		margin-left:3px;
		margin-top: 10px;
		font-size: 14px;
	}
	.yunfeixian{
		width:250px;
		float:right;
		text-align: center;
		line-height: 39px;
		font-size:19px;
		color:#E12F2F;
		margin-right: 50px;
	}
	.payment_buttom_div span{
		line-height: 60px;
		font-size: 14px;
		color:#555;
		float:right;
		margin-right: 10px;
	}
	.payment_buttom_div em{
		float:right;
		font-size: 18px;
		margin-right: 2px;
		line-height: 62px;
		color:#E12F2F;
	}
	.payment_buttom_div div{
		width:194px;
		float:right;
		text-align: left;
		line-height: 60px;
		font-size:18px;
		color:#E12F2F;
	}
	.payment_buttom_sub{
		width:1152px;
		height:230px;
		display: block;
		margin:0 auto;
		/*position: relative;*/
	}
	.payment_buttom_sub_1{
		width:1000px;
		float:right;
		height:50px;
		margin-top: 40px;
		overflow: hidden;
	}
	.payment_buttom_sub_1 div{
		float:right;
		text-align: left;
		line-height: 50px;
		font-size:30px;
		margin-right: 10px;
		color:#FF0036;
	}
	.payment_buttom_sub_1 em{
		float:right;
		font-size: 30px;
		margin-right: 2px;
		line-height: 50px;
		color:#A0A0A0;
		font-weight: 600;
	}
	.payment_buttom_sub_1 span{
		line-height: 60px;
		font-size: 15px;
		color:#000;
		float:right;
		margin-right: 5px;
	}
	.payment_buttom_sub_2,.payment_buttom_sub_3{
		float:right;
		width:1000px;
		margin-top:5px;
	}
	.payment_buttom_sub_2 div{
		float:right;
		overflow: hidden;
		font-size: 15px;
		width:260px;
		color:#555;
	}
	.payment_buttom_sub_2 span{
		font-size: 15px;
		color:#000;
		float:right;
		margin-right: 5px;
	}
	.payment_buttom_sub_3 div{
		float:right;
		font-size: 15px;
		color:#555;
		margin-right: 10px;
	}
	.payment_buttom_sub_3 span{
		font-size: 15px;
		color:#000;
		float:right;
		margin-right: 5px;
	}
	.payment_buttom_sub_4{
		width:1000px;
		margin-top: 28px;
		height:40px;
		float:right;
	}
	.payment_buttom_sub_4 button{
		width:180px;
		height:40px;
		float:right;
		list-style: none;
		border:none;
		margin-right: 10px;
		color:#fff;
		font-size: 15px;

		background-color: #FE214D;
	}
	.payment_buttom_sub_5{
		width:1000px;
		float:right;
		display: none;
		text-align: right;
		height:30px;
		line-height: 40px;
	}
	.payment_buttom_sub_5 span{
		font-size: 16px;
		color:#555;
	}
	.payment_buttom_sub_5 span a{
		color:#1F00FF;
	}

	/*支付订单页*/
	.payments{
		width:1200px;
		margin:0 auto;
	}
	.payments_1{
		width:1200px;
		height:400px;
		background-color: #F8F8F8;
	}
	.payments_1 img{
		width:90px;
		float:left;
		height:90px;
		margin:42px 0px 0px 32px;
	}
	.payments_1 div{
		width:1000px;
		height:170px;
		float:left;
		margin-left: 48px;
		border-bottom: 2px solid #EAEAEA;
	}
	.payments_1 div ul{
		width:600px;
		height:170px;
		float:left;
	}
	.payments_1_ul1_1{
		width:600px;
		height:90px;
		line-height: 125px;
		font-size: 20px;
		color:#222;
	}
	.payments_1_ul1_2{
		width:600px;
		height:80px;
		line-height: 35px;
		font-size: 16px;
		color:#222;
	}
	.payments_1 div span{
		width:390px;
		text-align: right;
		height:170px;
		float:right;
		display:block;
		line-height: 170px;
		color:#555;
		font-size: 16px;
	}
	.payments_1 div span em{
		font-size: 19px;
		color:#E63336;
	}
	.payments_1ul2{
		width:1000px;
		overflow: hidden;
		margin-left: 170px;
		padding-top: 30px;
	}
	.payments_1ul2 li{
		width:800px;
		float:left;
		font-size: 16px;
		padding-top: 10px;
		color:#555;
	}
	.payments_2{
		width:1200px;
		margin-top: 30px;
		margin-bottom: 30px;
		height:530px;
		background-color: #F8F8F8;
	}
	.payments_2 title{
		width:1000px;
		margin:0 auto;
		height:80px;
		display: block;
		font-size: 18px;
		color:#222;
		line-height: 82px;
		border-bottom: 2px solid #EAEAEA;
	}
	.payments_2_span{
		width:1000px;
		margin:0 auto;
		display:block;
		font-size: 17px;
		color:#444;
		margin-top: 30px;

	}
	.payments_2 ul{
		width:1000px;
		margin:0 auto;

		margin-top: 20px;
	}
	.payments_2 ul li{
		width:300px;
		margin-left: 20px;
		float:left;
	}
	.payments_2_img1{
		margin-left:60px;
	}
	.payments_2_img2_2,.payments_2_img2_1{
		width:250px;
		height:250px;
		margin-left:25px;
		display:block;
		margin-top: 20px;
	}
	.paymentspayok{
		margin-top: 90px;
		float:left;
		margin-left: 420px;
	}
	.paymentspayok_span{
		float:left;
		font-size: 25px;
		color:#333;
		margin-top: 120px;
		margin-left: 40px;

	}
	.paymentspayok_div
	{
		font-size: 16px;
		color:#555;
		width:1200px;
		text-align: center;
		display: block;
		margin-top: 30px;
		float:left;
	}
	.paymentspayok_div a{
		color:#338AFA;
	}