.des1{
			width:100%;
			height:500px;

		}
		.des1 img{
			width:100%;
			height:500px;
		}
		.des2{
			width:100%;
			height:520px;
		}
		.des2_1{
			width:1200px;
			height:495px;
			margin:0px auto;
			margin-top: 45px;
		}
		.pic_1{
			width:332px;
			height:494px;
			overflow: hidden;
			float:left;
		}

		.pic_2,.pic_5{
			width:320px;
			height:247px;
			float:left;
			overflow: hidden;
		}
		.pic_3,.pic_4{
			width:548px;
			height:247px;
			float:left;
			overflow: hidden;
		}

		.des2_1 div img{
			width:100%;
			height:100%;
		    -webkit-transform: scale(1);
		    -webkit-transition: 1s;
		}
		.des2_1 div img:hover{
		    -webkit-transform: scale(1.05);
		}
		.des3{
			width:1200px;
			margin:0 auto;
			height:100%;
		}
		.des3nva{
			width:1200px;
			height:50px;
			margin:0 auto;
		}

		.desnvaul{
			overflow:hidden;
			display:block;
			width:718px;
			height:50px;
			margin:0 auto;
		}
		.desnvaul li{
			font-size: 20px;
			overflow:hidden;
			line-height: 50px;
			font-weight: 500;
			float:left; cursor:pointer ;
			margin:0px 18px 0px 18px;
		}
		.desnvaul li:hover{
			color:red;
		}
		.des3con{
			width:1200px;
			height:568px;
			margin-top: 10px;
			padding-bottom: 50px;
		}
		.conli1{
			width:361px;
			height:568px;
			overflow: hidden;
			float:left;
			border-right:2px solid #fff;
		}

		.conli2{
			width:264px;
			height:278px;
			overflow: hidden;
			float:left;
			border-left:15px solid #fff;
			border-bottom:12px solid #fff;
		}
		.conli3{
			width:263px;
			height:278px;
			overflow: hidden;
			float:left;
			border-left:16px solid #fff;
		}
		.des3con ul li img{
			width:100%;
			height:100%;
			position:absolute;
			top:0;overflow: hidden;
			left:0;
			z-index:100;
		}
		.des3con ul li{
			position:relative;
		}
		.des3con ul li span{
			position:absolute;
			top:0px;
			left:0px;
			background: rgba(70,70,70,0.65);
			width:100%;
			height:100%;
			z-index:101;
			overflow: hidden;
			text-align: center;
			font-family:"Times New Roman",Georgia,Serif;
			line-height: 278px;
			font-size: 22px;
			font-weight: 500;
			display: none;
			color:#fff;
		}
		.des3con ul li div{
			width:14px;
			height:5px;
			border-bottom:1px solid #fff;
			position: absolute;
			top:150px;
			left:124px;
			z-index:101;
			display: none;
		}
		.color{
			color:red;
		}