.price-1{width:1200px;height:214px;margin:0 auto;}
.price-1 p{padding:0;display:block;width:1200px;height:50px;line-height:50px;color:#F02427;text-align:center;font-size:26px;margin-top:46px;}
.price-1-1{width:800px;height:73px;margin:0 auto;margin-top:50px;}
.price-1-a{width:200px;height:73px;display:block;background:url(/home/images/houseroom/zf-2.png) no-repeat center top;text-align:center;color:#979797;padding-top:45px;font-size:16px;float:left;margin:0 auto;}
.price-1-b{width:200px;height:73px;display:block;background:url(/home/images/houseroom/zf-3.png) no-repeat center top;text-align:center;color:#979797;padding-top:45px;font-size:16px;float:left;margin:0 auto;}
.price-1-c{width:200px;height:73px;display:block;background:url(/home/images/houseroom/zf-4.png) no-repeat center top;text-align:center;color:#979797;padding-top:45px;font-size:16px;float:left;margin:0 auto;}
.price-1-d{width:200px;height:73px;display:block;background:url(/home/images/houseroom/zf-5.png) no-repeat center top;text-align:center;color:#979797;padding-top:45px;font-size:16px;float:left;margin:0 auto;}
.price-2{width:100%;height:459px;margin:0 auto;}
.price-21{width:50%;height:459px;float:left;display:inline;background:url(/home/images/houseroom/zf-17.png) no-repeat bottom right;}
.price-22{width:50%;height:459px;float:right;display:inline;background:#F6F4F7;}
.price-221{width:600px;height:230px;float:left;margin-top:128px;margin-left:120px;}
.price-221 b{width:600px;height:30px;line-height:30px;text-align:left;font-weight:normal;font-size:26px;display:block;color:#303030;}
.price-221 p{width:600px;height:30px;line-height:30px;text-align:left;font-weight:normal;font-size:20px;display:block;color:#636164;}
.price-222{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-6.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;}
.price-223{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-7.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;}
.price-224{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-8.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;}
.price-225{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-9.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;}
.price-33{width:35px;height:35px;display:block;background:url(/home/images/houseroom/z-jia.jpg) no-repeat center center;float:left;margin-top:15px;}
.price-34{width:35px;height:35px;display:block;background:url(/home/images/houseroom/z-deng.jpg) no-repeat center center;float:left;margin-top:15px;}

.price-3z{width:100%;height:458px;margin:0 auto;overflow:hidden;}
.price-31z{width:50%;height:458px;float:left;background:#E9FBFF;}
.price-32z{width:50%;height:458px;float:right;background:url(/home/images/houseroom/zf-18.png) no-repeat center left;}
.price-33z{width:490px;height:230px;float:right;margin-top:120px;}
.price-33z b{width:490px;height:30px;line-height:30px;text-align:left;font-weight:normal;font-size:26px;display:block;color:#303030;}
.price-33z p{width:490px;height:30px;line-height:30px;text-align:left;font-weight:normal;font-size:20px;display:block;color:#636164;}
.price-33z-1{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-10.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;margin-right:20px;}
.price-33z-2{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-11.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;margin-right:20px;}
.price-33z-3{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-12.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;}

.price-4{width:100%;height:459px;margin:0 auto;}
.price-41{width:50%;height:459px;float:left;display:inline;background:url(/home/images/houseroom/zf-19.png) no-repeat bottom right;}
.price-42{width:50%;height:459px;float:right;display:inline;background:#F6F4F7;}
.price-421{width:600px;height:230px;float:left;margin-top:128px;margin-left:120px;}
.price-421 b{width:600px;height:30px;line-height:30px;text-align:left;font-weight:normal;font-size:26px;display:block;color:#303030;}
.price-421 p{width:600px;height:30px;line-height:30px;text-align:left;font-weight:normal;font-size:20px;display:block;color:#636164;}
.price-422{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-13.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;margin-right:20px;}
.price-423{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-14.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;margin-right:20px;}
.price-424{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-15.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;margin-right:20px;}
.price-425{width:75px;height:110px;display:block;float:left;text-align:center;background: url(/home/images/houseroom/zf-16.png) no-repeat top center;color:#696768;padding-top:80px;font-size:16px;}

.price-5z{width:100%;height:458px;margin:0 auto;overflow:hidden;}
.price-51z{width:50%;height:458px;float:left;background:#E9FBFF;}
.price-52z{width:50%;height:458px;float:right;background:url(/home/images/houseroom/zf-20.png) no-repeat center left;}
.price-53z{width:490px;height:230px;float:right;margin-top:120px;}
.price-53z b{width:490px;height:30px;line-height:30px;text-align:left;font-weight:normal;font-size:26px;display:block;color:#303030;}
.price-53z p{width:490px;height:30px;line-height:30px;text-align:left;font-weight:normal;font-size:20px;display:block;color:#636164;}
/*.price-6{width:100%;height:80px;margin:0 auto;}*/
.pricead{width:100%;height:670px;margin:0 auto;
		position: relative;
		}
		.pricead img{
			width:100%;
			height:100%;
			position: absolute;
			top:0px;
			left:0px;
		}
		.prica{
			width:100%;
			height:670px;
			position: absolute;
			top:0px;
			left:0px;
		}
		.pric{
			width:990px;
			height:355px;
			margin: 157px auto;
			background: rgba(255,255,255,0.85);
			box-shadow:0 0 1px #fff;
			position: relative;
		}
		.pric1{
			width:495px;
			height:355px;
			position: absolute;
			top:0px;
			border-right:1px solid #D6D6D8;
			z-index: 110;
			left:0px;
		}
		.pric2{
			width:495px;
			height:355px;
			position: absolute;
			border-right:1px solid #D6D6D8;
			top:0px;
			z-index: 110;
			right:0px;
		}
		.pric button{
			width:110px;
			height:110px;
			position: absolute;
			border:none;
			background-color:#E12E32;
			border-radius: 50%;
			cursor:pointer;
			top:120px;
			left:440px;
			z-index: 111;
		}
		.pric button span{
			width:40px;
			height:50px;
			color:#FEF9FD;
			display: block;
			margin:35px auto;
			font-style: normal;
			font-weight: normal;
			cursor:pointer;
			font-size: 17px;
			line-height: 20px;
		}
		.pric button:hover{   
			cursor:pointer;

			background: rgba(255,46,50,0.95);
		}
		.pric1div1{
			width:360px;
			height:50px;
			margin-left: 33px;
			margin-top: 30px;
			float:left;
		}
		.pric1div2{
			width:352px;
			height:220px;
			margin-left: 38px;
			float:left;
			margin-top: 24px;

		}


		.pric1div1span1{
			font-style: normal;
			font-weight: normal;
			font-size: 22px;
			color:#303030;
			line-height: 50px;
			letter-spacing: 1px;
		}
		.pric1div1span2{
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			color:#E3292E;
			line-height: 50px;
			margin-left: 10px;
		}
		.label1{
			width:352px;
			height:40px;
			display: block;
			float:left;
			position: relative;
		}
		.label1span1,.label3span1{
			width:160px;
			height:20px;
			display: block;
			line-height: 20px;font-size: 15px;			
			position: absolute;
			color:red;	
			font-style: normal;
			font-weight: normal;
			top:11px;
			left:112px;
			z-index: 111;
		}
		.label1span1:hover{
			cursor:text;
		}
		.label1span2,.label3span2{
			font-style: normal;
			font-weight: normal;
			float:left;
			letter-spacing: 1px;
			font-size: 18px;
			line-height: 40px;
			color:#323232;		
			position: absolute;
			top:0px;
			left:0px;	
		}
		.label1 input,.label3 input{
			width:250px;
			text-indent: 10px;
			height:40px;
			border:none;
			float:right;
			font-size: 16px;
			background-color:#fff;
			border-radius: 5px;
			font-style: normal;
		    font-weight: normal;
		    font-stretch: normal;
		    position: absolute;
		    top:0px;
		    right:0px;
		    color:#000;
		}
		.label1 font{
			font-size: 20px;
			font-style: normal;
			font-weight: normal;
			color:#323232;
			position: absolute;
			right:5px;
		    font-family: "宋体";
			top:8px;
		}
.label1 input::-webkit-input-placeholder,.label3 input::-webkit-input-placeholder {
    font-style:normal;
    letter-spacing:1px;
    font-size: 16px;
    color:#797979;
}
.label1 input::-moz-placeholder,.label3 input::-moz-placeholder {
    font-style:normal;
    letter-spacing:1px;
    font-size: 16px;
    color:#797979;
}
.label1 input:-ms-input-placeholder,.label3 input:-ms-input-placeholder { /* Internet Explorer 10+ */
　　font-style:normal;
    letter-spacing:1px;
    font-size: 16px;
    color:#797979;
}
	.label2{
		width:352px;
		height:92px;
		margin-top:10px;
		float:left;
	}
	.label2span1{
			font-style: normal;
			font-weight: normal;
			float:left;
			letter-spacing: 1px;
			font-size: 18px;
			line-height: 40px;
			color:#323232;	
	}
	.label3{
			width:352px;
			height:40px;
			margin-top:18px;
			display: block;
			float:left;
			position: relative;
	}
	.pric2div1{
		width:300px;
		height:30px;
		margin-top: 51px;
		margin-left: 150px;

	}
	.pric2div1span1{
		display: block;
		float:left;
		width:136px;
		height:30px;
		line-height: 30px;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		letter-spacing: 1px;
		color:#DE2F3E;
	}
	.pric2div1span2{
		display: block;
		float:left;
		height:30px;
		line-height: 30px;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color:#DE2F3E;
	}
	.pric2div1span3{
		display: block;
		float:left;
		height:30px;
		line-height: 30px;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color:#DE2F3E;
		margin-left: 3px;
	}
	.pric2 ul{
		width:300px;
		height:180px;
		margin-left: 160px;
		margin-top: 55px;

	}
	.pirc2li1{
		width:250px;
		height:25px;
		display:block;
		float:left;
	}
	.pirc2li2{
		width:250px;
		height:30px;
		display:block;
		float:left;
		margin-top: 9px;
	}
	.pirc2span1{
		line-height: 30px;
		display:block;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color:#313131;
		letter-spacing: 1px;
		float:left;   

	}
	.pirc2span2{
		line-height: 30px;
		display:block;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color:#444;
		letter-spacing: 3px;
		float:left;
		
	}
	.pirc2span3{
		line-height: 30px;
		display:block;
		font-style: normal;
		font-weight: normal;
		float:left;
		color:#313131;
		font-size: 17px;
		margin-left: 5px;
	}
.select{position:relative;float:left; }
.select dt{
	height:33px;
	display:inline-block;
	line-height:33px;
	font-weight:normal;
	font-style: normal;
	font-size: 15px;
	color:#333;
	text-indent: 11px;
	cursor:pointer;
	width:75px;
	white-space:nowrap;
	background: url(/home/images/houseroom/55.jpg);
	border-radius: 5px 5px 0px 0px;
	text-overflow:ellipsis;
	overflow:hidden;position:
	relative;z-index:99;}
.select dd{position:absolute;left:0;top:33px;width:75px;background:#fff;display:none;background-color:#fff; border-radius:0px 0px 5px 5px;}
.select dd ul{width:75px;max-height:250px;overflow:auto;}
.select dd ul li a{height:23px;line-height:23px;display:block;text-indent: 11px;	font-weight:normal;
	font-style: normal;
	font-size: 14px;}
.select dd ul li a:hover{background:#f9f999;}