@charset "utf-8";
/* 基础元素margin和padding清零 */body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea,  blockquote, th, td { margin: 0; padding: 0;}
fieldset, img { border: 0;}


		
body{margin:0;padding:0;background:#fff;font-size:12px;font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;}

ol,ul,li{list-style-type:none;}
/*img{border:none;vertical-align:middle;}*/
img{border:none;}
a{color:#5b5b5b;text-decoration:none;}
/*a:hover{color:#fe6c00;text-decoration:none;}*/

.z-h1{width:100%;height:733px;margin:0 auto;overflow:hidden;}
.z-con{width:100%;height:auto;margin:0 auto;overflow:hidden;}
.z-con1{width:100%;height:142px;background:#f5f5f5;margin:0 auto;}
.z-con1-1{width:1200px;height:142px;margin:0 auto;}
.z-con1-1 b{padding:0;margin:0;width:250px;height:30px;line-height:30px;display:block;color:#F1AB29;font-size:22px; font-family:"Microsoft YaHei UI";margin-top:45px;margin-left:105px;}
.z-con1-1 p{padding:0;margin:0;width:250px;height:30px;line-height:30px;display:block;color:#F1AB29;font-size:18px; font-family:"Microsoft YaHei UI";margin-left:105px;}
.z-con1-01{width:300px;height:142px;float:left;display:inline;background:url(z-1.jpg) no-repeat center left;margin:0 auto;}
.z-con1-02{width:300px;height:142px;float:left;display:inline;background:url(z-2.jpg) no-repeat center left;margin:0 auto;}
.z-con1-03{width:300px;height:142px;float:left;display:inline;background:url(z-3.jpg) no-repeat center left;margin:0 auto;}
.z-con1-04{width:300px;height:142px;float:right;display:inline;background:url(z-4.jpg) no-repeat center left;margin:0 auto;}

.z-con2{width:1200px;height:510px;margin:0 auto;padding-top:50px;}
.z-con2 ul{padding:0;margin-top:22px;width:1200px;}
.z-con2 ul li{width:296px;height:115px;overflow:hidden;margin-bottom:5px;}
.z-xg-lil{float:left;display:inline;margin-right:5px;}
.z-xg-lir{float:right;display:inline;}



.z-huoban{width:1200px;height:296px;margin:0 auto;padding-top:60px;padding-bottom:60px;}
.z-huoban-1{width:700px;height:90px;margin:0 auto;background:url(z-hx.jpg) no-repeat center center;}
.z-hb-1{width:700px;height:26px;color:#999;display:block;margin:0 auto;text-align:center;font-size:18px;}
.z-huoban-1 b{width:700px;height:35px;line-height:35px;font-size:22px;color:#333;text-align:center;display:block;font-style: normal; font-weight: normal;}
.z-hb-2{width:700px;height:26px;line-height:26px;color:#999;display:block;margin:0 auto;text-align:center;}
.z-huoban ul{padding:0;margin-top:22px;width:1200px;}
.z-huoban ul li{width:224px;height:78px;overflow: hidden;margin-bottom:20px;}
.z-hb-lil{float:left;display:inline;margin-right:20px;}
.z-hb-lir{float:right;display:inline;}

.z-bot{width:100%;height:426px;margin:0 auto;overflow:hidden;background:#343233;}
.z-bot1{width:1200px;height:373px;margin:0 auto;}
.z-bot1 ul{width:170px;height:215px;float:left;display:inline;margin-top:68px;border-right:1px solid #383838;font-family: "Microsoft YaHei UI";color:#8d8d8d;font-size:16px;}
.z-bot1 ul li{width:150px;height:27px;line-height:27px;text-indent:50px;}
.z-bot1 a{color:#999;}
.z-li2{font-size:18px;font-weight:bold;width:200px;height:27px;line-height:27px;display:block;margin-bottom:12px;}
.z-li3{width:333px;height:215px;float:left;display:inline;margin-top:69px;color:#999;border-right:1px solid #383838;padding-left:22px;}
.z-li3 b{font-size:18px;font-weight:bold;}

.z-p1{margin:0;padding:0;width:315px;height:27px;line-height:27px;display:block;font-size:16px;}
.z-p0{margin-top:14px;}
.z-p2{margin:0;padding:0;width:80px;height:27px;line-height:27px;font-size:16px;float:left;display:block;}
.z-p3{margin:0;padding:0;width:225px;height:70px;font-size:16px;float:left;display:block;margin-top:3px;}
.z-li4{width:304px;height:235px;float:right;display:inline;background:url(wx.jpg) no-repeat bottom center;margin-top:69px;color:#8d8d8d;}
.z-li4 b{font-size:18px;font-weight:bold;}


.z-bot2{width:100%;height:53px;margin:0 auto;background:#222;}
.z-bot2-1{width:1200px;height:53px;line-height:53px;margin:0 auto;color:#8d8d8d; font-family: "Microsoft YaHei UI";font-size:14px;text-align:center;}
