
		#hades{
			width:100%;
			height:107px;
			border-bottom:2px solid #000;
			
			
		}
		
		#hade_content{
			width:1200px;
			height:130px;
			margin:0 auto;
		}
		#hade_1{
		width:1200px;
		height:70px;
		}

		#hade_1_1{
			width:420px;
			height:70px;
			float:left;
		

		}
		#hade_img_1{
			margin-top:10px;
			float:left;
			width:166px;
			height:50px;			
			
		}
		#hade_1_2{
			width:550px;
			height:60px;
			float:right;
			margin-top: 8px;
			
		}
		#hade_1_2_1{
			width:160px;
			height:60px;
			float:left;
		}
		#hade_1_2_1 img{
			width:17px;
			height:17px;
			float:left;
			margin-top: 22px;
		}
		#hade_1_2_1 span{
			line-height: 60px;
			float:left;
			font-size:16px;
			color:red;
			font-weight:500;
			margin-left:6px;
		}
		#hade_1_2_2{
			float:left;
			width:160px;
			height:60px;
		}
		#hade_1_2_2 img{
			width:17px;
			height:17px;
			float:left;
			margin-top: 22px;
		}
		#hade_1_2_2 span{
			line-height: 60px;
			float:left;
			font-size:16px;
			color:red;
			font-weight:500;
			margin-left:6px;
		}
		#hade_1_2_3{
			width:220px;
			height:60px;
			border:1px solid red;
			float:right;
		}


		#hade_2{
		width:1200px;
		height:34px;

		}



