
		#hades{
			width:100%;
			height:107px;
			border-bottom:3px solid #000;
			
			
		}
		
		#hade_content{
			width:1200px;
			height:130px;
			margin:0 auto;
		}
		#hade_1{
		width:1200px;
		height:70px;
		}

		#hade_1_1{
			width:420px;
			height:70px;
			float:left;
		

		}
		#hade_img_1{
			margin-top:12px;
			float:left;
			width:170px;
			height:57px;			
			
		}
		#hade_1_2{
			width:550px;
			height:60px;
			float:right;
			margin-top: 8px;
			
		}
		#hade_1_2_1{
			width:160px;
			height:60px;
			float:left;
		}
		#hade_1_2_1 img{
			width:17px;
			height:17px;
			float:left;
			margin-top: 22px;
		}
		#hade_1_2_1 span{
			line-height: 60px;
			float:left;
			font-size:16px;
			color:red;
			font-weight:500;
			margin-left:6px;
		}
		#hade_1_2_2{
			float:left;
			width:160px;
			height:60px;
		}
		#hade_1_2_2 img{
			width:17px;
			height:17px;
			float:left;
			margin-top: 22px;
		}
		#hade_1_2_2 span{
			line-height: 60px;
			float:left;
			font-size:16px;
			color:red;
			font-weight:500;
			margin-left:6px;
		}
		#hade_1_2_3{
			width:230px;
			height:60px;
			float:right;
		}
		#hade_1_2_3 form{
			width:230px;
			height:60px;
		}
		#hade_1_2_3 form input{
			-web-kit-appearance:none;
  			-moz-appearance: none;
  			font-size:1.2em;
			border-radius:3px 0px 0px 3px;
			width:180px;
			height:25px;
			text-indent:8px;
			border:1px solid #c8cccf;
			color:#6a6f77;
			margin-top: 17px;
			float:left;
		}
		#hade_1_2_3 form button{
			 width: 45px;
    		height: 27px;
    		font-size: 14px;
    		font-family: 微软雅黑;
    		letter-spacing: 2px;
    		margin-left: 3px;
    		margin-top: 17px;
    		padding-left: 2px;
    		cursor:pointer;
    		/*border-radius: 4px;*/

   			background: -webkit-linear-gradient(top, #66B5E6, #2e88c0);
    		background: -moz-linear-gradient(top, #66B5E6, #2e88c0);
    		background: linear-gradient(top, #66B5E6, #2e88c0);
   			background: -ms-linear-gradient(top, #66B5E6, #2e88c0);
    		border: 1px solid #2576A8;
    		box-shadow: 0 1px 2px #B8DCF1 inset, 0 -1px 0 #316F96 inset;
    		color: #fff;
    		text-shadow: 1px 1px 0.5px #22629B;
		}
		#hade_1_2_3 form button:hover{
		    background: -webkit-gradient(linear, 0 0, 0 100%, from(#8DC9EF), to(#4E9FD1));
		    background: -webkit-linear-gradient(#8DC9EF, #4E9FD1);
		    background: -moz-linear-gradient(#8DC9EF, #4E9FD1);
		    background: -o-linear-gradient(#8DC9EF, #4E9FD1);
		    background: linear-gradient(#8DC9EF, #4E9FD1);
		}
		#hade_2{
		
		height:34px;

		}



