.Basic_bag{
    width: 100%;
    height: 80px;
    background-color: #F5F5F5;
    box-shadow:0 0 10px 5px #aaa;
    overflow: hidden;
}
.Basic_bag .juzhong{
    width: 770px;
    margin: auto;
    overflow: hidden;
    display: block;
}
.Basic_bag a{
    display: block;
    float: left;
}
.Basic_bag .juzhong .Bas{
    margin-right: 70px;
}
.Basic_bag .juzhong .Sof{
    /*margin-right: 30px;*/
    margin-top: 3px;
}
.Basic_bag img{
    display: block;
    margin: auto;
    margin-top: 23px;
}
/*增加*/
.My_Choice{
    width: 1100px;
    overflow: hidden;
    margin: auto;
    padding-top: 45px;
}
.My_Choice .Choice_Bot{
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
}
.My_Choice .Choice_Bot a{
    display: block;
    float: left;
    width: 90px;
    height: 75px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-right: 35px;
    position: relative;
}
.Choice_Bot a .name{
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: #999999;
    margin-top: 20px;
}
.Choice_Bot a .jiner{
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #666666;
    margin-top: 10px;
}
.Choice_Bot a .jiner .Num{
    font-size: 20px;
    color: #E12E32;
}
.Choice_Bot a .jiner span{
    color: #E12E32;
}
.Choice_Bot a .Basic_gou{
    display: block;
}
/*增加结束*/
.Package .Ai{
    width: 1100px;
    overflow: hidden;
    margin: auto;
    padding-top: 45px;
    display: none;
}
.Package .Ai.avtive{
    display: block;
}
.Package .jizhuang{
    width: 1100px;
    overflow: hidden;
    margin: auto;
    padding-top: 45px;
    display: none;
}
.Package .jizhuang.avtive{
    display: block;
}
.My_Choice .Choice_Bot a .feng{
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: #999999;
    margin-top: 20px;
}
.Basic_bag .juzhong{
    width: 770px;
    margin: auto;
    overflow: hidden;
    display: block;
}
.Basic_bag a{
    display: block;
    float: left;
}
.Basic_bag .juzhong .No{
    display: block;
}
.Basic_bag .juzhong .av{
    display: none;
}
.Basic_bag .juzhong .avtive .No{
    display: none;
}
.Basic_bag .juzhong .avtive .av{
    display: block;
}
@media screen and (max-width: 750px){
    .Package .jizhuang{
        width: 95%;
    }
    .Package .Ai{
        width: 95%;
    }
    .My_Choice{
        width: 95%;
    }
    .Basic_bag .juzhong{
        width: 100%;
    }
    .Basic_bag .juzhong a{
        width:100%;
        margin-right: 0!important;
        margin-bottom: 15px;
    }
    .Basic_bag .juzhong a:first-child{
        margin-top: 20px;
    }
    .Basic_bag .juzhong a img{
        margin: auto;
    }
    .Basic_bag{
        height: 180px;
    }
}