

.effects{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.effects a{

}
.xians{
    width: 100%;
    overflow: hidden;
}
.xians a{
    display: block;
    margin: auto;
    text-decoration: none;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    background-color: #FF9900;
    width: 44%;
    text-align: center;
}
.tuijian{
    width: 100%;
    overflow: hidden;
}
.tuijian .bt{
    width: 100%;
    height: 50px;
    line-height:50px;
    color: #010101;
    text-align: center;
    font-size: 12px;
}
.xians .bt{
    width: 100%;
    height: 50px;
    line-height:50px;
    color: #010101;
    text-align: center;
    font-size: 12px;
}
.tuijian a{
    display: block;
    float: left;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    text-decoration: none;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    background-color: #FF9900;
    margin-left: 3%;
    margin-right: 3%;
    width: 44%;
    text-align: center;
    margin-bottom: 20px;
}
.brief{
    margin-bottom: 0;
}
.yusuan{
    width: 100%;
    overflow: hidden;
}