

.content{
    width: 90%;
    margin: auto;
}
.you{
    width: 100%;
    color: #0066FF;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.you span{
    color: red !important;
    margin: 2px 0 0 2px;
}
.name{
    width:100%;
    border: 1px solid #d5d5d5;
    margin: 5px 0;
    background-color: #fff;
    padding: 0;
    border-radius: 3px;
    height: 35px;
    outline: none;
    text-indent: 30px;
    font-size: 16px;
}
/*.Next{*/
    /*width:100%;*/
    /*display: block;*/
    /*height: 50px;*/
    /*position: absolute!important;*/
    /*bottom: 0;*/
    /*left: 0;*/
/*}*/
.Next a{
    display: block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    width:49%;
    height: 50px;
    margin: auto;
    background-color: rgb(255, 153, 0);
    color: #ffffff;
    line-height: 50px;
    border-radius: 10px;
    float: left;
}
.Next .Next_a{
    float: right;
}
.tishi{
    width: 100%;
    height: 30px;
    color:red ;
    font-size: 16px;
    display: none;
}
.tishi.active{
    display: block;
}
.hanzi{
    width: 100%;
    height: 30px;
    color:red ;
    font-size: 16px;
    display: none;
}
.hanzi.active{
    display: block;
}
.Sex{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.left{
    width: 50%;
    height: 100%;
    line-height: 30px;
    float: left;
    font-size: 16px;
    color: #010101;
}
.left input{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
    display: block;
    float: left;
    margin-left: 20%;
}
.left span{
    font-size: 16px;
    color: #010101;
    line-height: 30px;
    display: block;
    float: left;
}
.xuanz{
    width: 100%;
    height: 30px;
    color:red ;
    font-size: 16px;
    display: none;
    line-height: 30px;
}
.xuanz.active{
    display: block;
}