/*关于我们-公司介绍*/
.js-about{width:100%;height:auto;margin:0 auto;overflow:hidden;}
.js-about66{width:100%;height:auto;margin:0 auto;overflow:hidden;background:#fafafa;}
.js-about-ad{width:100%;height:580px;margin:0 auto;background:url(aboutus.jpg) no-repeat center center;}
.js-contact-ad{width:100%;height:300px;margin:0 auto;background:url(contact.jpg) no-repeat center center;}
.js-about-tit{width:100%;height:89px;background:url(aboutus-fg.jpg) repeat-x bottom left;margin:0 auto;}
.js-about-tit ul{padding:0;margin:0 auto;width:1200px;height:89px;text-align:center;}
.js-about-tit ul li{padding:0; margin:0 auto;float:left;display:inline;width:130px;height:89px;line-height:89px;font-size:24px;color:#666;margin-right:15px;text-align:center;}
.js-about-tit ul li a{color:#666;}
.jsliactive{background:url(aboutus-fg2.jpg) repeat-x bottom left;}
.js-about-intr{margin:0 auto;width:1200px;height:431px;background:url(bgs.jpg) no-repeat top right;margin-top:60px;overflow:hidden;}
.js-about-con{width:552px;height:339px;float:left;line-height:2em;font-size:14px;}
.js-about-con h1{font-size:16px;width:552px;height:30px;font-weight:bold;}
.js-about-bt{width:1200px;height:80px;padding-top:60px;margin:0 auto;}
.js-about-bt p{width:120px;height:26px;line-height:26px;display:block;background:url(sanjiao.jpg) no-repeat center right;text-align:center;font-size:18px;font-weight:bold;color:#333;margin:0 auto;}
.js-about-bt1{width:100%;height:450px;line-height:450px;background:url(about1.jpg) no-repeat center center;margin:0 auto;}
.js-about-bt2{width:1200px;height:330px;margin:0 auto;}
.js-about-bt2 h1{padding:0;margin:0;width:295px;height:45px;line-height:45px;text-align:left;display:block;font-size:18px;text-indent:8px;}
.js-about-bt2 p{padding:0;margin:0 auto;width:280px;height:28px;line-height:28px;text-align:left;background:url(dian.jpg) no-repeat center left;text-indent:12px;display:block;}
.about-bt2-1{width:295px;height:330px;background:#fafafa;float:left;margin-right:6px;display:inline;color:#333;}
.about-bt2-2{width:295px;height:330px;background:#fafafa;float:right;display:inline;color:#333;}
.js-about-bt3{width:100%;height:429px;background:url(lianli.jpg) no-repeat center center;margin:0 auto;}
.js-about-bt4{width:1200px;height:116px;background:url(yj.jpg) no-repeat center center;margin:0 auto;}
.js-about-bt5{width:1200px;height:220px;margin:0 auto;background:#fafafa;line-height:2.1em;margin-bottom:25px;padding-top:50px;color:#777;text-indent:30px}
.js-about-bt5 p{width:1200px;height:35px;line-height:35px;text-align:center;font-size:18px;}