
/*采购商入驻*/
.cg-zs{width:100%;height:565px;margin:0 auto;background:url(cg-zs.jpg) no-repeat top center;}
.cg-zst{width:100%;height:545px;margin:0 auto;background:#f5f5f5;}
.zs-tit{width:1200px;height:177px;margin:0 auto;}
.zs-tit b{width:1200px;height:46px;line-height:46px;text-align:center;display:block;font-weight:normal;font-size:24px;padding-top:40px;}
.zs-tit p{width:1200px;height:30px;line-height:30px;text-align:center;diplay:block;font-size:18px;}
.zs-t1{width:1200px;height:365px;margin:0 auto;padding-top:30px;}

.zs-t1-0{width:380px;height:130px;background:url(cg-p1.jpg) no-repeat top left;float:left;display:inline;border-right:1px dotted #333;}
.zs-t1-0 b{padding:0;margin:0;width:380px;height:40px;line-height:40px;display:block;color:#333;text-indent:75px;font-size:16px;}
.zs-t1-0 span{padding:0;margin:0;width:380px;height:23px;display:block;color:#999;text-indent:75px;}
.zs-t1-0 p{padding:0;margin:0;width:360px;line-height:2em;display:block;color:#666;margin-top:15px;}

.zs-t1-1{width:380px;height:130px;background:url(cg-p2.jpg) no-repeat top left;float:left;display:inline;margin-left:20px;border-right:1px dotted #333;}
.zs-t1-1 b{padding:0;margin:0;width:380px;height:40px;line-height:40px;display:block;color:#333;text-indent:75px;font-size:16px;}
.zs-t1-1 span{padding:0;margin:0;width:380px;height:23px;display:block;color:#999;text-indent:75px;}
.zs-t1-1 p{padding:0;margin:0;width:360px;line-height:2em;display:block;color:#666;margin-top:15px;}

.zs-t1-2{width:380px;height:130px;background:url(cg-p3.jpg) no-repeat top left;float:left;display:inline;margin-left:20px;}
.zs-t1-2 b{padding:0;margin:0;width:380px;height:40px;line-height:40px;display:block;color:#333;text-indent:75px;font-size:16px;}
.zs-t1-2 span{padding:0;margin:0;width:380px;height:23px;display:block;color:#999;text-indent:75px;}
.zs-t1-2 p{padding:0;margin:0;width:360px;line-height:2em;display:block;color:#666;margin-top:15px;}

.zs-t1-3{width:380px;height:130px;background:url(cg-p4.jpg) no-repeat top left;float:left;display:inline;margin-left:20px;border-right:1px dotted #333;margin-left:210px;margin-top:30px;}
.zs-t1-3 b{padding:0;margin:0;width:380px;height:40px;line-height:40px;display:block;color:#333;text-indent:75px;font-size:16px;}
.zs-t1-3 span{padding:0;margin:0;width:380px;height:23px;display:block;color:#999;text-indent:75px;}
.zs-t1-3 p{padding:0;margin:0;width:360px;line-height:2em;display:block;color:#666;margin-top:15px;}

.zs-t1-4{width:380px;height:130px;background:url(cg-p5.jpg) no-repeat top left;float:left;display:inline;margin-left:20px;margin-top:30px;}
.zs-t1-4 b{padding:0;margin:0;width:380px;height:40px;line-height:40px;display:block;color:#333;text-indent:75px;font-size:16px;}
.zs-t1-4 span{padding:0;margin:0;width:380px;height:23px;display:block;color:#999;text-indent:75px;}
.zs-t1-4 p{padding:0;margin:0;width:360px;line-height:2em;display:block;color:#666;margin-top:15px;}

.cg-zsx{width:1200px;height:auto;margin:0 auto;overflow:hidden;padding-bottom:60px;}
.cg-zsx-tit{width:1200px;height:127px;line-height:127px;text-align:center;font-size:24px;}
.cg-zsx ul{padding:0;margin:0;width:1200px;height:254px;}
.cg-zsx ul li{padding:0;width:300px;height:254px;float:left;display:inline;background:#f5f5f5;color:#666666;}
.cg-zsx ul li p{padding:0;margin:0;width:300px;height:30px;line-height:30px;text-align:center;display:block;font-size:18px;margin-top:50px;}
.cg-zsx ul li span{padding:0;margin:0;width:280px;line-height:2.1em;display:block;font-size:16px;padding:15px 10px 15px 10px;}
.cg-zs-p1{width:1200px;height:204px;margin:0 auto;text-align:center;}
.cg-zs-p1 p{width:1200px;height:35px;line-height:35px;text-align:center;font-size:24px;display:block;margin-top:50px;}
.cg-zs-p1 span{width:1200px;line-height:1.8em;text-align:center;font-size:16px;display:block;}
.cg-zs-p2{width:400px;height:453px;float:left;display:inline;background:url(cg-bk-1.jpg) bottom right;}
.cg-zs-p2 b{padding:0;margin:0;width:380px;height:45px;line-height:45px;display:block;color:#656565;margin-left:12px;font-size:16px;}
.cg-zs-p2 p{padding:0;margin:0;width:380px;line-height:2em;display:block;color:#989898;margin-left:12px;font-size:14px;}

.cg-zs-p3{width:400px;height:453px;float:left;display:inline;background:url(cg-bk-1.jpg) bottom right;}
.cg-zs-p3 b{padding:0;margin:0;width:380px;height:45px;line-height:45px;display:block;color:#656565;margin-left:12px;font-size:16px;}
.cg-zs-p3 p{padding:0;margin:0;width:380px;line-height:2em;display:block;color:#989898;margin-left:12px;font-size:14px;}

.cg-zs-p4{width:400px;height:453px;float:left;display:inline;background:url(cg-bk-1.jpg) bottom right;}
.cg-zs-p4 b{padding:0;margin:0;width:380px;height:45px;line-height:45px;display:block;color:#656565;margin-left:12px;font-size:16px;}
.cg-zs-p4 p{padding:0;margin:0;width:380px;line-height:2em;display:block;color:#989898;margin-left:12px;font-size:14px;}