.fran_1{
		width:100%;
		height:755px;
	}
	.fran_1_1{
		width:100%;
		height:560px;

	}
	.fran_1_1 img{
		width:100%;
		height:100%;
	}
	.fran_1_2{
		width:100%;
		height:195px;
		position:relative;
	}
	.fran_1_2 img{
		position: absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
	}
	.fran_1_2_1{
		position: absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;	
	}
	.fran_1_2 ul{
		padding-top: 45px;
		margin:0 auto;
		width:917px;
		height:140px;
	}
	.fran_1_2 ul li{
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		color:#555;
		/*letter-spacing:1px;*/
		margin-top:10px;
		text-align: center;
	}

	.fran_2{
		width:100%;
		height:420px;
		background-color:#fff;
	}
	.fran_2_con{
		width:1200px;
		height:415px;
		margin:0 auto;
	}
	.title{
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		color:#000;
		text-align: center;
		padding-top:25px;
		padding-bottom:17px;
	}
	.fran_2_con span{
		display:block;
		margin-top: 10px;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color:#000;
	}
	.fran_2_con ul{
		width:911px;
		height:180px;
		overflow: hidden;
		margin:0 auto;
		margin-top: 60px;
	}
	.fran2li1{
		display:block;
		float:left;
		width:200px;
		height:180px;

	}
	.fran2li3{
		display:block;
		float:left;
		width:134px;
		height:180px;

	}
	.fran2li1 div{
		width:200px;
		height:135px;
		text-align: center;
	}
	.fran2li3 div{
		width:134px;
		height:135px;
		text-align: center;
	}
	.fran2li1 img,.fran2li3 img{
		width:134px;
		float:left;
		height:135px;
	}
	.fran2li1 b,.fran2li3 b{
		display:block;
		margin-left: 47px;
		margin-top: 18px;
		font-style: normal;
		font-weight: 600;
		clear:both;
		font-size: 20px;
		color:#666;
		letter-spacing: 1px;
	}
	.fran2li2{
		display:block;
		float:left;
		width:58px;
		height:113px;
		border-left:1px solid #ccc;
	}
	.fran_3{
		width:100%;
		height:602px;
	}
	.fran_3_1{
		width:100%;
		height:500px;
		position: relative;
	}
	.fran_img_1{
		width:50%;
		height:500px;
		position: absolute;
		left:0px;
		z-index: 100;
		top:0px;
	}
	.fran_img_2{
		width:50%;
		height:500px;
		position: absolute;
		right:0px;
		z-index: 100;
		top:0px;
	}
	.fran_3_1 ul{
		width:79px;
		position: relative;
		margin:0 auto;
		z-index: 101;
	}
	.fran_3_li1{
		width:79px;
		height:79px;
		padding-top:17px;
	}
	.fran_3_li2{
		width:79px;
		height:79px;
		padding-top:50px;
	}
	.fran_4{
		width:100%;
		height:420px;
		background-color:#F5F5F5;
	}
	.title2{
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		color:#000;
		text-align: center;
		padding-top:42px;
		padding-bottom:30px;		
	}
	.fran_4_con{
		width:1200px;
		height:255px;
		margin:0 auto;
	}
	.fran_4_ul1{
		width:390px;
		height:255px;
		float:left;
	}
	.fran_4_ul2{
		width:390px;
		height:255px;
		float:left;
		padding-left: 15px;
	}
	.fran_4_con ul li{
		width:390px;
		height:255px;
		background-color:#fff;
	}
	.fran_4_con ul li img{
		width:60px;
		height:60px;
		margin:0 auto;
		display:block;
		padding-top: 25px;
	}
	.fran_4_con ul li title{
		font-weight: 500;
		font-style: normal;
		font-size: 20px;
		color:#676767;
		display:block;
		text-align: center;
		margin-top: 8px;
		padding-bottom: 8px;
	}
	.fran_4_con ul li span{
		font-weight: 500;
		font-style: normal;
		font-size: 17px;
		color:#999;
		display:block;
		text-align: center;
		margin-top: 6px;
	}
	.fran_5{
		width:100%;
		height:365px;
		background-color:#fff;
	}
	.fran_5_1{
		width:350px;
		height:230px;
		margin:0 auto;
	}
	.title3{
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		color:#000;
		text-align: center;
		padding-top:42px;
		padding-bottom:16px;		
	}
	.fran_5_1 input{
		width:350px;
		height:45px;
		margin-top: 15px;
		border:none;
		border:1px solid #999;
		border-radius: 6px;
		font-size: 16px;
		font-style: normal;
		font-weight: normal;
		color:#000;
		text-indent: 10px;
	}

.fran_5_1 input::-webkit-input-placeholder,.label3 input::-webkit-input-placeholder {
    font-style:normal;
    letter-spacing:1px;
    font-size: 16px;
    color:#797979;
}
.fran_5_1 input::-moz-placeholder,.label3 input::-moz-placeholder {
    font-style:normal;
    letter-spacing:1px;
    font-size: 16px;
    color:#797979;
}
.fran_5_1 input:-ms-input-placeholder,.label3 input:-ms-input-placeholder { /* Internet Explorer 10+ */
　　font-style:normal;
    letter-spacing:1px;
    font-size: 16px;
    color:#797979;
}
.fran_5_1 button{
		width:350px;
		height:45px;
		margin-top: 15px;
		border:none;
		border-radius: 6px;
		font-size: 18px;
		font-style: normal;
		font-weight: normal;
		color:#fff;
		background-color:#E12E32;
		text-align:center;
}