#index_1{
		width:100%;
		height:600px;
		position:relative;
	}
	#index_1_1{
		width:100%;
		height:600px;
		position:absolute;
		z-index:100;
	}

	#index_2{
		width:100%;
		height:130px;
		position: absolute;
		z-index:101;
		/*top:0px;*/

	}
	#index_2_1{
		width:950px;
		height:130px;
		background-color:#fff;
		margin:0 auto;
		border-radius:6px 6px 6px 6px;
		background:rgba(0,0,0,0.5);
		margin-top: 420px;
		position: relative;
	}
.bannerbox{width:100%;position:relative;overflow:hidden;}
/*#888484*/
.Homebanner{width:100%;position:relative;height:600px;overflow:hidden;}
.Homebanner ul{width:1900px;position:absolute;height:600px;}
.Homebanner ul li{width:1900px;height:600px;position:absolute;overflow:hidden;}
.Homebanner ul li img{width:1900px;position:absolute;left:50%;top:0px;display:block;margin-left:-950px;height:600px;}
.Homeleft,.Homeright{background:rgba(136,132,132,0.8);;font-family:"宋体";width:50px;height:50px;line-height:50px;text-align:center;font-size:40px;color:#fff;position:absolute;top:45%;cursor:pointer;transition:all .2s ease;opacity:0;z-index:899999}
.Homeleft{left:-60px;}
.Homeright{right:-60px;}

.bannerbox:hover .Homeleft{left:0px;opacity:1}
.bannerbox:hover .Homeright{right:0px;opacity:1}

.Homedot{position:absolute;width:100%;text-align:center;z-index:999;bottom:20px;}
.Homedot a{display:inline-block;margin:0px 7px;height:16px;width:16px;line-height:1000px;overflow:hidden;background-color:#fff;border-radius: 9999px}
.Homedot a.cur{background-color:yellow;border-radius: 9999px}
	#index_head{
		width:240px;
		height:50px;
		float:left;
		margin-left:40px;
	}
	#indexnone{
		width:400px;
		height:50px;
		float:left;
		position:relative;
	}
	#indexspan1{
		position:absolute;
		font-size: 16px;
		color:red;
		top:30px;
		left:170px;
		display:none;
	}
	#indexspan2{
		position:absolute;
		font-size: 16px;
		color:red;
		top:30px;
		left:145px;
		display:none;
	}
	#indexspan3{
		position:absolute;
		font-size: 16px;
		color:red;
		top:30px;
		left:32px;
		display:none;
	}
	#indexspan4{
		position:absolute;
		font-size: 16px;
		color:red;
		top:30px;
		left:15px;
		display:none;
	}
	#index_lil{
	margin-top: 15px;
	overflow:hidden;
	float:left;
	border-bottom:2px solid #fff;
	cursor:pointer;
	}
	#index_li{
	overflow:hidden;
	float:left;
	margin-top: 15px;
	margin-left:10px;
	cursor:pointer;
	}
	#index_head ul li span{
		display:block;
		font-weight:500;
		font-style: normal;
		font-size:18px;
		color:#fff;
		margin-bottom:3px;

	}

	#index_1_1_2{
		width:870px;
		height:78px;
		margin: 0 auto;
		margin-top: 10px;
	}
	#index_1_1_3{
		width:905px;
		height:78px;
		margin: 0 auto;
		margin-top: 10px;
		margin-right: 155px;
	}
 	#table_1{
 		width:240px;
 		height:70px;
 		float:left;
 		margin-top: 5px;
 	}
  	#table_2{
 		width:415px;
 		height:70px;
 		margin-top: 5px;
 		float:left;
 		margin-left: 10px;

 	}
 	#table_4{
		width:665px;
 		height:70px;
 		margin-top: 5px;
 		float:left;
 		margin-left: 40px;
 	}
  	#table_3{
 		width:190px;
 		margin-top: 5px;
 		height:70px;
 		float:left;
 		margin-left: 10px;
 	}

	select#selectPointOfInterest
	{
	   width                    : 180pt;
	   height                   : 35pt;
	   line-height              : 35pt;
	   padding-right            : 20pt;
	   text-align               : left;
	   vertical-align           : middle;
	   border                   : 1px solid #fff;
	   -moz-border-radius       : 6px;
	   -webkit-border-radius    : 6px;
	   border-radius            : 6px;
	   -webkit-appearance       : none;
	   -moz-appearance          : none;
	   appearance               : none;
	   font-family:'Microsoft Yahei', '微软雅黑', Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
	   font-size                : 18px;
	   font-weight              : 500;
	   color                    : #999;
	   cursor                   : pointer;
	   outline                  : none;

	}
	select#selectPointOfInterest option
	{
	    padding             : 4px 10px 4px 10px;
	    font-size           : 17px;
	    font-family:'Microsoft Yahei', '微软雅黑', Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
	    font-weight         : normal;
	    color               : #999;
	}
	select#selectPointOfInterest option[selected]{ font-weight:bold;}
	select#selectPointOfInterest option:nth-child(even) { background-color:#f5f5f5;}
	label#lblSelect{ position: relative; display: inline-block;}
	label#lblSelect::after
	{
	    content                 : "\25bc";
	    position                : absolute;
	    top                     : 0;
	    right                   : 0;
	    bottom                  : 0;
	    width                   : 20pt;
	    line-height             : 35pt;
	    vertical-align          : middle;
	    text-align              : center;
	    background              : #fff;
	    color                   : #bababa;
	   -moz-border-radius       : 0 6px 6px 0;
	   -webkit-border-radius    : 0 6px 6px 0;
	    border-radius           : 0 6px 6px 0;
	    pointer-events          : none;

	}
		#input_control{
		  width:415px;
		  

		}
		#input_control2{
		  width:665px;
		  

		}

		#table_2 input[type="text"],#btn1,#btn2,#table_4 input[type='text']{
		  box-sizing: border-box;
		  /*text-align:center;*/
		  font-size:1.5em;
		  text-indent: 9px;
		  height:46px;
		  border-radius:6px;
		  border:1px solid #fff;
		  line-height: 46px;
		  margin-top: 1px;
		  color:#6a6f77;
		  -web-kit-appearance:none;
		  -moz-appearance: none;
		  display:block;
		  outline:0;
		  padding:0 1em;
		  text-decoration:none;
		  width:100%;
		}

		#table_2 input ::-moz-placeholder,#table_4 input ::-moz-placeholder { 
		  color: #999;
		
		  font-size: 18px;    font-family:'Microsoft Yahei', '微软雅黑', Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
		}
		
		#table_2 input::-webkit-placeholder,#table_4 input::-webkit-placeholder{
		  color: #999;
		  font-size: 18px;    font-family:'Microsoft Yahei', '微软雅黑', Helvetica, 'Hiragino Sans GB', Arial, sans-serif;

		}

		#table_4 input :-ms-placeholder,#table_2 input :-ms-placeholder { 
		  color: #999;
		  font-size: 18px;    font-family:'Microsoft Yahei', '微软雅黑', Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
		}
			#table_3 button{
			width:190px;
			height:46px;
			background-color: #F2AB2B;
			border-radius: 6px;
			cursor:pointer;
			margin-top: 1px;
			border-style:none; 
			font-size:1.5em;
			color:#fff;
			font-weight: 500;
		}
		#table_3 button:hover{
			background-color: #F9CB2B;
			border-color: #ADADAD;
		}
		.z-con_4{
			width:1200px;
			height:590px;
			padding-top:50px;
			margin:0 auto;
		}

		.head2{
			width:900px;
			height:90px;
			margin:0 auto;
			/*border:1px solid red;*/
			background: url(home/images/index/head.png) no-repeat center center;
		}
		.head_1_1{
			width:900px;
			height:26px;
			color:#999;
			text-align:center;
			font-size:18px;
			margin:0;
			display:block;
		}
		.head_2_2{
			width:900px;
			height:26px;
			color:#999;
			display:block;
			text-align:center;
			font-weight:normal;
			font-style:normal;

		}

		.head2 b{
			width:900px;
			height:35px;
			color:#333;
			font-size:22px;
			text-align:center;
			line-height: 35px;
			display:block;
			font-weight:normal;
			font-style:normal;
		}
		.head{
			width:700px;
			height:90px;
			margin:0 auto;
			background: url(home/images/index/z-hx.jpg) no-repeat center center;
		}
		.head b{
			width:700px;
			height:35px;
			color:#333;
			font-size:22px;
			text-align:center;
			line-height: 35px;
			display:block;
			font-weight:normal;
			font-style:normal;
		}
		.head_1{
			width:700px;
			height:26px;
			color:#999;
			text-align:center;
			font-size:18px;
			font-weight: normal;
			font-style: normal;
			margin:0;
			display:block;
		}

		.head_2{
			width:700px;
			height:26px;
			color:#999;
			display:block;
			text-align:center;
			font-weight:normal;
			font-style:normal;

		}
		.z-con_4 ul{
			width:1200px;
			margin-top:15px;
			padding:0;

		}
		.z-con_4_lil{
			width:394px;
			height:480px;
			float:left;
			overflow:hidden;
		}
		.z-con_4_li{
			width:395px;
			height:480px;
			margin-left:8px;
			float:left;
			overflow:hidden;
			padding:0;
		}
		.z-con_4 ul li img{
			width:100%;
			height:435px;
		}
		.z-con_4 ul li span{
			width:400px;
			height:30px;
			text-align: center;
			font-weight:normal;
			font-style: normal;
			font-size: 20px;
			display: block;
			color:#333;
			margin-top: 10px;
			padding-right:5px;

		}
		.z-con_5{
			width:1200px;
			height:277px;
			/*border:1px solid red;*/
			margin:0 auto;
			padding-top: 50px;
		}
		.z-con_5_1{
			width:1200px;
			height:170px;
			margin:0 auto;
			padding:0;
			margin-top: 15px;
			background-color:#f5f5f5;
			/*border:1px solid red;*/
		}
		.con_5_li1,.con_5_li5{
			width:260px;
			height:85px;
			/*border:1px solid red;*/
			overflow:hidden;
			float:left;
			margin-left:54px;
			line-height: 85px;
		}
		.con_5_li2,.con_5_li6{
			width:281px;
			height:85px;
			/*border:1px solid red;*/
			overflow:hidden;
			line-height: 85px;
			float:left;
		}
		.con_5_li4,.con_5_li8{
			width:295px;
			height:85px;
			/*border:1px solid red;*/
			overflow:hidden;
			line-height: 85px;
			float:left;
		}
		.con_5_li3,.con_5_li7{
			width:310px;
			height:85px;
			/*border:1px solid red;*/
			overflow:hidden;
			line-height: 85px;
			float:left;
		}
		.con_5_span1{
			margin-top: 12px;
			width:60px;
			height:60px;
			float:left;
			display:block;
			background: url(home/images/index/9.png) no-repeat center center;

		}
		.con_5_span2{
			margin-top: 12px;
			width:60px;
			height:60px;
			float:left;
			display:block;
			background: url(home/images/index/10.png) no-repeat center center;

		}
		.con_5_span3{
			margin-top: 12px;
			width:60px;
			height:60px;
			float:left;
			display:block;
			background: url(home/images/index/11.png) no-repeat center center;

		}
		.con_5_span4{
			margin-top: 12px;
			width:60px;
			height:60px;
			float:left;
			display:block;
			background: url(home/images/index/12.png) no-repeat center center;

		}
		.con_5_span5{
			margin-top: 12px;
			width:60px;
			height:60px;
			float:left;
			display:block;
			background: url(home/images/index/13.png) no-repeat center center;

		}
		.con_5_span6{
			margin-top: 12px;
			width:60px;
			height:60px;
			float:left;
			display:block;
			background: url(home/images/index/14.png) no-repeat center center;

		}
		.con_5_span7{
			margin-top: 12px;
			width:60px;
			height:60px;
			float:left;
			display:block;
			background: url(home/images/index/15.png) no-repeat center center;

		}
		.con_5_span8{
			margin-top: 12px;
			width:60px;
			height:60px;
			float:left;
			display:block;
			background: url(home/images/index/16.png) no-repeat center center;

		}
		.con_5_span_2{
			font-size: 25px;
			color:#666;
			font-weight: normal;
			float:left;
			margin-left: 15px;
		}
		.con_5_span_4{
			width:41px;
			height:21px;
			background:url(home/images/index/jian.png) no-repeat center center;
			float:right;
			margin-right:30px;
			margin-top: 33px;
		}
		.con_5_span_5,.con_5_span_6,.con_5_span_3{
			width:41px;
			height:21px;
			background:url(/home/images/index/jian.png) no-repeat center center;
			float:right;
			margin-right:20px;
			margin-top: 33px;
		}
		.z-con_6{
			width:1200px;
			height:586px;
			padding-top: 50px;
			margin:0 auto;
		}
		.con6_1{
			width:596px;
			height:482px;
			float:left;
			background:url(/home/images/index/con6_1.png) no-repeat center center;
			margin-top: 15px;
		}
		.con6_2{
			width:596px;
			height:480px;
			float:right;
			margin-top: 15px;
			/*border:1px solid red;*/

		}
		.con6_1_1{
			width:455px;
			height:220px;
			background:rgba(96,96,96,0.7);
			margin:0 auto;
			margin-top:130px;
			text-align: center;
		}
		.con6_1_1 span{
			line-height: 220px;
			font-weight: normal;
			font-size: 20px;
			color:#fff;
			font-weight: normal;
			font-style: normal;
		}
		.con6_2_1{
			width:596px;
			float:left;
			height:238px;
			background: url(/home/images/index/con6_2.png) no-repeat center center;
		}
		.con6_2_2{
			width:294px;
			margin-top: 8px;
			float:left;
			height:235px;
			background: url(/home/images/index/con6_3.png) no-repeat center center;
		}
		.con6_2_3{
			width:294px;
			height:235px;
			margin-top: 8px;
			float:right;
			background: url(/home/images/index/con6_4.png) no-repeat center center;
		}
		.con6_2_1 div{
			width:250px;
			height:120px;
			margin:0 auto;
			margin-top: 59px;
			background:rgba(96,96,96,0.7);
			text-align: center;
		}
		.con6_2_1 div span,.con6_2_2 div span,.con6_2_3 div span{
			line-height: 120px;
			font-weight: normal;
			font-size: 20px;
			color:#fff;
			font-weight: normal;
			font-style: normal;
		}
		.con6_2_2 div,.con6_2_3 div{
			width:250px;
			height:120px;
			margin:0 auto;
			margin-top: 57px;
			background:rgba(96,96,96,0.7);
			text-align: center;
		}
		.z-con_7{
			width:1200px;
			height:550px;
			margin:0 auto;
			padding-top: 50px;
		}
		.zcon_7_1{
			width:1200px;
			height:270px;
			margin-top: 15px;
			background-color: #f5f5f5;
		}
		.zcon_7_2{
			width:1200px;
			height:156px;
			margin-top: 12px;
			background-color: #f5f5f5;
		}
		.zcon_7_1 ul{
			width:1200px;
			height:270px;
			margin:0;
			background-color:#FDFFFE;
			padding:0;			
		}
		.zcon7_li{
			overflow:hidden;
			height:270px;
			width:295px;
			background-color:#f5f5f5;
			float:left;
		}
		.zcon7_lil{
			overflow:hidden;
			width:295px;
			/*margin-left:6px;*/
			background-color:#f5f5f5;
			border-left:6px solid #fff;
			height:270px;
			float:left;
		}
		.zcon7_span1{
			width:296px;
			height:180px;
			display: block;
		}
		.zcon7_span1 img{
			width:100%;
			height:100%;
		}
		
		.zcon7_span_2{
			width:200px;
			height:75px;
			display:block;
			float:left;
			margin-top:10px;
			margin-left: 13px;
		}
		.zcon7_span_2 font{
			font-size: 18px;
			width:200px;
			font-weight: normal;
			color:#666;
			display: block;
			float:left;
			margin-top: 10px;
			float:left;
		}
		.zcon7_span_2 span{
			width:200px;
			display: block;
			font-size: 15px;
			margin-top: 10px;
			float:left;
			font-weight: normal;
			color:#666;
		}
		.zcon7_span_3{
			width:62px;
			height:62px;
			display:block;
			background:url(home/images/index/con7_span_1.png) no-repeat center center;
			float:right;
			margin-top:19px;
			margin-right: 10px;
		}
		.zcon7_span_4{
			width:62px;
			height:62px;
			display:block;
			background:url(home/images/index/con7_span_2.png) no-repeat center center;
			float:right;
			margin-top:9px;
			margin-right: 10px;
		}
		.zcon7_span_5{
			width:62px;
			height:62px;
			display:block;
			background:url(home/images/index/con7_span_3.png) no-repeat center center;
			float:right;
			margin-top:9px;
			margin-right: 10px;
		}
		.zcon7_span_6{
			width:62px;
			height:62px;
			display:block;
			background:url(home/images/index/con7_span_4.png) no-repeat center center;
			float:right;
			margin-top:9px;
			margin-right: 10px;
		}
		.zcon_7_2_divl{
			width:296px;
			height:156px;
			float:left;
		}
		.zcon_7_2_div{
			width:296px;
			height:156px;
			float:left;
			border-left:5px solid #fff;
		}
		.zcon_7_2_1{
			width:146px;
			height:156px;
			float:left;
		}
		.zcon_7_2_2{
			float:left;
			width:146px;
			height:156px;
			border-left:4px solid #fff;			
		}
		.zcon_7_img{
			width:95px;
			height:95px;
			margin-left:25.5px;
			margin-top:8px;
			border-radius: 999px;
			overflow: hidden;
			
		}
		.zcon_7_img img{
			/*width:100%;*/
			height:100%;
		}
		.zcon_7_2_zi{
			width:144px;
			height:52px;
			/* border:1px solid red; */
			text-align:center;
		}
		.zcon_7_2_zi span{
			font-weight: normal;
			font-size:15px;
			display: block;
			margin-top:15px;
			color:#333;
		}
.z-con3{width:1200px;height:550px;margin:0 auto;}
		.z-con3 ul{
			width:1200px;
			height:444px;
			display:block;
			margin-top:15px;
			background-color:#f5f5f5;
		}
		.zcon3_lil{
			width:394px;
			height:443px;
			display:block;
			float:left;
			overflow:hidden;
		}
		.zcon3_li{
			width:395px;
			height:443px;
			display:block;
			border-left: 8px solid #fff;
			float:left;
			overflow:hidden;
		}
		.z-con3 ul li img{
			width:100%;
			height:280px;
			float:left;
			display:block;
		}
		.z-con3 ul li div{
			float:left;
			width:392px;
			height:150px;
			display:block;
			margin-top:13px;
		}
		.z-con3 ul li div span{
			width:392px;
			height:35px;
			display: block;
			/*border:1px solid red;*/
		}
		.z-con3 ul li div span a{
			display:block;
			font-weight:normal;
			font-style:normal;
			font-size:16px;
			color:#333;
			line-height: 35px;
			float:left;
			/*margin-top:12px;*/
			margin-left:15px;
		}
		.z-con3 ul li div span img{
			width:35px;
			height:16px;
			margin-left: 12px;
			margin-top: 9px;
			float:left;
		}
		.z-con3 ul li a:hover{
			color:red;
		}		
		.z-con_8{
			width:100%;
			/*height:850px;*/
			margin:0 auto;
			padding-top:50px;
		}
		.zcon8_1{
			width:100%;
			height:755px;
			background:url(home/images/index/con8.png) no-repeat center center;
			margin-top: 15px;

		}
		
		.zcon8_head{
			width:1200px;
			height:80px;
			margin:0 auto;
		}
		.zcon8_head1{
			width:268px;
			height:25px;
			border-bottom:3px solid #E12E32;
			margin:0 auto;
		}
		.zcon8_head2{
			width:1200px;
			height:55px;
			margin: 0 auto;
			text-align: center;
		}
		.zcon8_head2 span{
			height:55px;
			/*width:1100px;*/
			margin:0 auto;
			line-height: 55px;
			font-weight:600;
			font-size:20px;
			color:#3a3a3a;
			font-family: 'NSimSun', 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
		}
		

		.zcon8_head2 span a:hover{
			color:#DF2F32;
		}
		.zcon8_centent{
			width:1200px;
			/*height:600px;*/
			margin:0 auto;
			margin-top: 8px;
		}
		.zcon8_centent_1{
			width:600px;
			height:80px;
			margin:0 auto;
			text-align:center;
		}
		.zcon8_centent_1 span{
			font-weight: 500;
			font-style: normal;
			font-size: 17px;
			color:#666;
			display:block;
		}
		.zcon8_centent_2{
			width:1200px;
			/*height:520px;*/
			margin:0 auto;
			margin-top: 5px;
		}
		.zcon8_img_1{
		width:234px;
		height:256px;
		overflow:hidden;
		float:left;
		position:relative;
		}
		.zcon8_img_2,.zcon8_img_3,.zcon8_img_4,.zcon8_img_5{
		width:234px;
		height:256px;
		overflow:hidden;
		float:left;
		margin-left:7px;
		position:relative;
		margin-bottom:7px;
		}
		.zcon8_img_6{
		width:234px;
		height:256px;
		position:relative;
		overflow:hidden;
		float:left;
		}
		.zcon8_img_7,.zcon8_img_8,.zcon8_img_9,.zcon8_img_10{
		width:234px;
		height:256px;
		position:relative;
		overflow:hidden;
		float:left;
		margin-left:7px;
		/*margin-bottom:5px;*/
		}
		.zcon8_centent_2 ul li img{
			width:236px;
			height:258px;
			position:absolute;
		}
		.zcon8_centent_2 ul li div{
			width:236px;
			height:258px;
			position:absolute;
			text-align: center;
		}
		.zcon8_centent_2 ul li span{
			line-height: 258px;
			font-weight: 600;
			font-style: normal;
			color:#DF2F32;
			/*position:absolute;*/
			font-family: 'NSimSun', 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
			font-size: 22px;
		}
.z-h1{width:100%;height:733px;margin:0 auto;overflow:hidden;}
.z-con{width:100%;height:auto;margin:0 auto;overflow:hidden;}
.z-con1{width:100%;height:142px;background:#f5f5f5;margin:0 auto;}
.z-con1-1{width:1200px;height:142px;margin:0 auto;}
.z-con1-1 b{padding:0;margin:0;width:250px;height:30px;line-height:30px;display:block;color:#F1AB29;font-size:22px; font-family:"Microsoft YaHei UI";margin-top:45px;margin-left:105px;}
.z-con1-1 p{padding:0;margin:0;width:250px;height:30px;line-height:30px;display:block;color:#F1AB29;font-size:18px; font-family:"Microsoft YaHei UI";margin-left:105px;}
.z-con1-01{width:300px;height:142px;float:left;display:inline;background:url(z-1.jpg) no-repeat center left;margin:0 auto;}
.z-con1-02{width:300px;height:142px;float:left;display:inline;background:url(z-2.jpg) no-repeat center left;margin:0 auto;}
.z-con1-03{width:300px;height:142px;float:left;display:inline;background:url(z-3.jpg) no-repeat center left;margin:0 auto;}
.z-con1-04{width:300px;height:142px;float:right;display:inline;background:url(z-4.jpg) no-repeat center left;margin:0 auto;}

.z-con2{width:1200px;height:510px;margin:0 auto;padding-top:50px;}
.z-con2 ul{padding:0;margin-top:22px;width:1200px;}
.z-con2 ul li{width:296px;height:115px;overflow:hidden;margin-bottom:5px;}
.z-xg-lil{float:left;display:inline;margin-right:5px;}
.z-xg-lir{float:right;display:inline;}



.z-huoban{width:1200px;height:296px;margin:0 auto;padding-top:60px;padding-bottom:60px;}
.z-huoban-1{width:700px;height:90px;margin:0 auto;background:url(z-hx.jpg) no-repeat center center;}
.z-hb-1{width:700px;height:26px;color:#999;display:block;margin:0 auto;text-align:center;font-size:18px;}
.z-huoban-1 b{width:700px;height:35px;line-height:35px;font-size:22px;color:#333;text-align:center;display:block;font-style: normal; font-weight: normal;}
.z-hb-2{width:700px;height:26px;line-height:26px;color:#999;display:block;margin:0 auto;text-align:center;}
.z-huoban ul{padding:0;margin-top:22px;width:1200px;}
.z-huoban ul li{width:224px;height:78px;overflow: hidden;margin-bottom:20px;}
.z-hb-lil{float:left;display:inline;margin-right:20px;}
.z-hb-lir{float:right;display:inline;}