#content{
			width:100%;
			height:575px;
			padding-bottom: 30px;
			/*position:relative*/

		}
		#content_img_1{
			width:100%;
			height:540px;
			background-image:url(/home/images/hfhx/1.png);
			background-size: cover; 
			padding-top:35px;
			
		}
		#content_1{
			width:1100px;
			height:500px;
			border-left:2px solid #516975;
			margin :0 auto;
			box-shadow: -10px -3px 10px #516975;

		}
		#box{
		width:750px;
		height:500px;
		float:left;
		}
		
		#content_1_2{
		width:350px;
		height:500px;
		float:right;
		background:#fff;
		}
		#content_1_2_1{
			width:290px;
			height:150px;
			border-bottom:1.5px solid #e5e5e5;
			margin-left:18px;
		}
		#content_1_2_2{
			width:290px;
			height:200px;
			border-bottom:1.5px solid #e5e5e5;
			margin-left:18px;
		}
		#content_1_2_3{
			width:290px;
			height:70px;
			margin-left:18px;
		}
		#p1{
			font-size:20px;
			font-weight:600;
			margin-top:18px; 
			color:#4b4b4b;
		}
		#p2{
			color:#c6c6c6;
			margin-top:5px;
			font-size: 15px;
		}
		#nve{
			width:200px;
			height: 25px;
			margin-top:8px;
		}
		#nve_1{
			color:#B3AF99;
			font-size: 12px;
			background-color: #fff098;
			float:left;
		
		}
		#nve_2{
			color:#B3AF99;
			font-size: 12px;
			background-color: #fff098;
			float:left;
			margin-left:10px;
		}
		#nve_3{
			color:#B3AF99;
			font-size: 12px;
			background-color: #fff098;
			margin-left:10px;
			float:left;
		}
		#content_2_1_1{
			width:1200px;
			height:40px;
		}
		#content_2_1_1_1{
			width:1200px;
			height:35px;
			border-bottom:3px solid #dadada;
		}
		#content_2_1_1_1_1{
			width:100px;
			height:35px;
			margin-left:20px;
			border-bottom:3px solid #000;
			float:left;
		}
		#content_2_1_1_1_2{
			width:70px;
			height:35px;
			text-align: center;
			border-bottom:3px solid red;
			float:left;
		}
		#content_2_1_1_1_3{
			float:right;
		}
	
		#content_7{
			width:100%;
		}
		
		#content_7_1{
			width:1200px;
			background-color:#f5f5f5;
			margin:0 auto;
			margin-bottom: 30px;
			padding-bottom: 20px;
		}
		#content_7_1_1{
			width:1200px;
			height:180px;
		}
		#content_7_1_2{
			width:1200px;
		}
		.content_7_1_2_div{
			width:1140px;
			height:140px;
			margin:0 auto;
			margin-top: 25px;
			padding-bottom: 25px;
			border-bottom:1px solid #DADADA;
		}
		.content_7_1_2_div ul{
			width:115px;
			height:115px;
			float:left;
			margin-top: 25px;
			overflow: hidden;
			list-style: none;
		}
		.content_7_1_2_div ul li{
			width:90px;
			height:25px;
			margin-bottom: 8px;
			color:#fff;
			font-size: 16px;
			text-align: center;
			line-height: 25px;
			background-color: #E12E31;
		}

		.content_7_1_2_right{
			width:1000px;
			margin-top: 25px;
			height:115px;
			display: block;
			float:left;
		}
		.content_7_1_2_right title{
			display: block;
			font-size: 19px;
			color:#333;
			width:1000px;
			float:left;
		} 
		.content_7_1_2_right span{
			width:1000px;
			font-size: 16px;
			color:#666;
			float:left;
			margin-top: 10px;
		}
		.content_7_1_2_right span em{
			color:red;
		}
		.dian{
		width:500px;
		height:22px;
		margin:0 auto;
		text-align: center;
		margin-top: 10px;
	}
